/* Font Settings */

$f-base-size:	16px;

/* defaults */
body {
	font-family: 'Arimo', sans-serif;
	font-size: $f-base-size;
	line-height: 1.5;
	color: $c-basetext;
}

/* emphasis */
strong,
em {
	color: #000;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
del {
  color: $c-grey;
}

/* links */
a {
	color: $c-link;
	text-decoration: none;
}
a:active,
a:visited {
	color: $c-link2;
}
a:visited {
	@extend .icon-checkmark;
}
a:hover {
	text-decoration: underline;
}

/* copy */
h1 {
	font-size: 2.1rem;
	line-height: 1;
	font-weight: normal;
	.copy-area & {
		margin-bottom: $margin;
	}
}

h2 {
  font-size: 1.7rem;
  line-height: 1;
  font-weight: normal;
	.copy-area & {
		margin-bottom: $margin * .5;
	}
}

h3 {
	font-size: 1.1rem;
	line-height: 1.4;
	font-weight: bold;
	.copy-area & {
		margin-bottom: $margin * .5;
	}
}

h4 {
  font-size: 1rem;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
	.copy-area & {
		margin-bottom: $margin * .5;
	}
}

p, li {
  font-size: 1rem;
}
p {
  line-height: 1.8;
	.copy-area & {
		margin-bottom: $margin;
	}
}
li {
  line-height: 1.2;
	margin-bottom: $margin * .5;
  &:last-child {
  	margin-bottom: 0;
  }
}
.copy-area ul,
.copy-area ol {
	margin-bottom: $margin;
	ul, ol {
		padding-left: $margin * .5;
		margin: $margin 0 ( $margin * .5 );
		border-width: 1px 0;
		border-style: solid;
		border-color: mix(white, $c-primary, 80%);
		ul, ol {
			border-color: mix(white, $c-secondary, 80%);
			ul, ol {
				border-color: mix(white, $c-accent, 80%);
			}
		}
	}
}
.copy-area ul {
	list-style-type: disc;
	ul {
		list-style-type: square;
		ul {
			list-style-type: circle;
		}
	}
}
.copy-area ol {
	list-style-type: decimal-leading-zero;
	ol {
		list-style-type: upper-alpha;
		ol {
			list-style-type: lower-roman;
			ol {
				list-style-type: lower-alpha;
			}
		}
	}
}

.copy-area table {
	font-size: .9rem;
	line-height: 1.2rem;
	p, li {
		font-size: .9rem;
	}
	th {
	  font-weight: bold;
	  text-transform: uppercase;
	}
}

/* text modifiers */
.f-small {
	font-size: .9rem;
}
.f-smaller {
	font-size: .75rem;
}
.f-smallest {
	font-size: .6rem;
}
.f-large {
	font-size: 1.1rem;
}
.f-larger {
	font-size: 1.25rem;
}
.f-largest {
	font-size: 1.4rem;
}

/* icomoon CSS */
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?byte2f');
	src:url('fonts/icomoon.eot?byte2f#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?byte2f') format('truetype'),
		url('fonts/icomoon.woff?byte2f') format('woff'),
		url('fonts/icomoon.svg?byte2f#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
	content: "\e900";
}
.icon-profile:before {
	content: "\e901";
}
.icon-bubbles:before {
	content: "\e902";
}
.icon-search:before {
	content: "\e916";
}
.icon-heart:before {
	content: "\e903";
}
.icon-plus:before {
	content: "\e904";
}
.icon-minus:before {
	content: "\e905";
}
.icon-cross:before {
	content: "\e906";
}
.icon-checkmark:before {
	content: "\e907";
}
.icon-arrow-up2:before {
	content: "\e908";
}
.icon-arrow-right2:before {
	content: "\e909";
}
.icon-arrow-down2:before {
	content: "\e90a";
}
.icon-arrow-left2:before {
	content: "\e90b";
}
.icon-mail2:before {
	content: "\e90c";
}
.icon-google-plus:before {
	content: "\e90d";
}
.icon-facebook2:before {
	content: "\e90e";
}
.icon-twitter:before {
	content: "\e90f";
}
.icon-steam:before {
	content: "\e910";
}
.icon-github:before {
	content: "\e911";
}
.icon-wordpress:before {
	content: "\e912";
}
.icon-skype:before {
	content: "\e913";
}
.icon-reddit:before {
	content: "\e914";
}
.icon-linkedin2:before {
	content: "\e915";
}
