/* non-text elements */

.button-link,
a.button-link {
	display: inline-block;
	padding: 1rem;
	color: #fff;
	background-color: $c-link;
	&:hover {
		background-color: $c-link2;
	}
	span {	/* CTA icons */
		font-weight: bold;
	}
}

img,
figure,
picture {
	max-width: 100%;
	height: auto;
}

.copy-area {
	iframe,
	embed,
	.youtube-player {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}
}

hr {
	margin: 2em auto;
	width: 60%;
	border: none;
	border-top: 1px solid $c-accent;

	// Stylizing
	&:before,
	&:after {
		content: '';
		display: block;
		border-color: $c-primary;
		border-width: 1px 0 0 0;
	}
	&:before {
		border-style: dashed;
		float: right;
		margin-right: 1em;
		width: 40%;
		margin-top: -.5em;
	}
	&:after {
		border-style: dotted;
		text-align: left;
		margin-left: 3em;
		width: 30%;
		margin-top: .25em;
	}

}

table {
	border-collapse: collapse;
	max-width: 100%;
	margin-bottom: 3em;
	th, td {
		padding: .5rem;
		border: 1px solid $c-grey;
	}
}

input,
select,
textarea {
	max-width: 100%;
}

/* special classes */
.copy-area {

	.s-amazon,
	a[href*="amazon.com"] {

/* TODO: Style text links with an icon. */

	}

	.s-hbo,
	a[href*="hbogo.com"],
	a[href*="hbonow.com"] {

/* TODO: Style text links with an icon. */

	}

	.s-hulu,
	a[href*="hulu.com"] {

/* TODO: Style text links with an icon. */

	}

	.s-netflix,
	a[href*="netflix.com"] {

/* TODO: Style text links with an icon. */

	}

	.s-spotify,
	a[href*="spotify.com"] {

/* TODO: Style spotify text links with an icon. */

	}

	.s-youtube,
	a[href*="youtube.com"] {

/* TODO: Style text links with an icon. */

	}

}
