/* Theme */

html,
body,
.fullHeight {
  height: 100%;
  margin: 0;
}

.total-wrapper {
	width: 100%;
	max-width: 100%;
}

/* scanline effect */
/* inspired by http://codepen.io/0x04/pen/qlayi */
$scanLineWidth: 2px;
$scanLineOpacity: 0.25;

.total-wrapper {
	background-image: url("images/calm-cloudy-beach.jpg");
	background-position-x: 50%;
	background-attachment: fixed;
	background-repeat: repeat-y;
}
.total-wrapper > .scan-lines {
  background: -webkit-repeating-linear-gradient(
    top,
    transparent 0px,
    transparent $scanLineWidth,
    rgba(0,0,0,$scanLineOpacity) $scanLineWidth,
    rgba(0,0,0,$scanLineOpacity) $scanLineWidth*2
  );
  -webkit-background-size: 100% $scanLineWidth*2;
  background: -moz-repeating-linear-gradient(
    top,
    transparent 0px,
    transparent $scanLineWidth,
    rgba(0,0,0,$scanLineOpacity) $scanLineWidth,
    rgba(0,0,0,$scanLineOpacity) $scanLineWidth*2
  );
  -moz-background-size: 100% $scanLineWidth*2;
}

/* Outdated Browser Disruptor */
.disruptor {
	background-color: mix(white, $c-accent, 80%);
	border-bottom: 2px solid $c-accent;
	padding: ($margin * .5) 0;
}

/* left/right shadows */
.shadowed {
	position: relative;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	&:before,
	&:after {
		content: "";
		position: absolute;
		z-index: -1;
		-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
		-moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
		box-shadow: 0 0 20px rgba(0,0,0,0.8);
	}
	&:after {
		-webkit-transform: skew(8deg) rotate(3deg);
		-moz-transform: skew(8deg) rotate(3deg);
		-ms-transform: skew(8deg) rotate(3deg);
		-o-transform: skew(8deg) rotate(3deg);
		transform: skew(8deg) rotate(3deg);
	}
}

.header-logo {
	float: left;
	clear: left;
	max-width: 40%;
	margin-top: 1.5rem;
	svg {display: none;}
	html.inlinesvg & {
		img {display: none;}
		svg {
			display: block;
			width: auto;
			height: 60px;
			path {
				fill: $c-link;
			}
		}
		&:hover svg path {
			fill: $c-link2;
		}
	}
} /* .header-logo */

.subsection-logo {
	float: left;
	clear: none;
	font-family: 'Oxygen', 'Arimo', sans-serif;
	font-size: 2.7rem;
	line-height: 1;
	color: $c-grey;
	font-weight: normal;
	margin-top: 10px;
	margin-left: 16px;
	.category-personal &:before {content: "";}
	.category-games &:before {content: ": gaming";}
	.category-pro &:before {content: ": pro";}
	.page-id-640 &:before {content: ": about";}  /* About page */
}

.search-container {
	float: right;
	clear: right;
	width: 40px;
	height: 40px;
	color: $c-grey;
	cursor: pointer;
	&:hover {
		color: $c-link2;
	}
	label {
		float: left;
		clear: left;
	}
	input {
		box-sizing: border-box;
		width: 0px;
		padding: 0px;
		height: 40px;
		border: 0px;
		background-color: #fff; /* pure white */
		border-top-left-radius: $radius;
		border-bottom-left-radius: $radius;
		&.search-field {
		}
		&.search-submit {
			float: left;
			clear: right;
			text-indent: -9999px;
			background-color: transparent;
			color: transparent;
			cursor: pointer;
			&:hover {background-color: rgba(242,249,255,0.2);}
		}
	}
	&.open {
		input.search-field {
			width: 120px;
			padding: 0px .5rem;
		}
		input.search-submit {
			text-indent: 0px;
			width: 40px;
			background-color: transparent;
			cursor: pointer;
			&:hover {background-color: rgba(242,249,255,0.2);}
		}
	}
} /* .search-container */

/* Navigation */
.nav-button {
	min-height: $min-interact;
	min-width: $min-interact;
	.toplevel-link {
	}
	.nav-button-expand-toggle {
		@extend .icon-plus;
		&.expanded {
			@extend .icon-minus;
		}
	}
	.nav-button-subcategories:not(.expanded) {
		display: none;
	}
}



.time-nav {
	float: left;
	clear: both;
	.older,
	.newer {
		padding: 1rem;
		span {
			display: block;
			font-size: 1.1rem;
			line-height: normal;
		}
	}
} /* .time-nav */

.single {
	.entry-content {
	} /* .entry-content */
	.attachment-post-thumbnail {
		margin: 1rem auto;
	}
} /* .single */

.aligncenter,
.alignright,
.alignleft {
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	&.wp-caption {
		padding: ( $margin * .5 );
		border: 1px solid $c-grey;
		margin-bottom: ( $margin * 2 );
		p,
		figcaption {
			font-size: .8rem;
			text-align: center;
			margin: ( $margin * .5 ) 0 0 0;
		}
	}
}


