/* Theme */

.total-wrapper {
	width: 100%;
	max-width: 100%;
}

/* scanline effect */
/* inspired by http://codepen.io/0x04/pen/qlayi */
$scanLineWidth: 2px;
$scanLineOpacity: 0.25;

.total-wrapper {

	/* IMG_0689 - Oakland September Sunrise 2016 */
	background-image: url("images/bg/IMG_0689.optimized.sm.jpg");
	@media #{$not-sm} {
		background-image: url("images/bg/IMG_0689.optimized.jpg");
	}
	background-color: #c4d1ec;	/* image specific (matte) */

	/* calm-cloudy-beach - found photo
	background-image: url("images/bg/calm-cloudy-beach.optimized.jpg");
	background-color: #adb9c5;	/* image specific (matte) */

	/* inverted calm-cloudy-beach
	background-image: url("images/bg/calm-cloudy-beach-inverted.optimized.jpg");
	background-color: #998b82;	/* image specific (matte) */

	background-position: 50% 100%;
	background-attachment: fixed;
	background-repeat: repeat-x;
	background-size: auto 100%;
}
@media #{$not-sm} {
	.total-wrapper {
		background-size: 100% auto;
		background-repeat: no-repeat;
	}
}
.scan-lines {
  background: -webkit-repeating-linear-gradient(
    top,
    transparent 0px,
    transparent $scanLineWidth,
    rgba(0,0,0,$scanLineOpacity) $scanLineWidth,
    rgba(0,0,0,$scanLineOpacity) $scanLineWidth*2
  );
  background: repeating-linear-gradient(
    to bottom,
    transparent 0px,
    transparent $scanLineWidth,
    rgba(0,0,0,$scanLineOpacity) $scanLineWidth,
    rgba(0,0,0,$scanLineOpacity) $scanLineWidth*2
  );
  background-size: 100% $scanLineWidth*2;
  background-attachment: fixed;
}

/* Outdated Browser Disruptor */
.disruptor {
	background-color: mix(white, $c-accent, 80%);
	border-bottom: 4px solid $c-accent;
	padding: ($margin * .5) 0;
}

/* left/right shadows */
.shadowed {
	background-color: #fff;
	border-width: 0 2px;
	border-style: solid;
	border-color: mix(black, $c-primary, 80%);;
}

/* Header and footer edge-shading */
.site-header,
.fat-footer,
.copyright-footer {
	color: #fff;
	background-color: rgba(0,0,0,0.7);
	a,
	.u-faketextlink {
		color: $c-lightest;
		&:hover {
			color: $c-nearwhite;
		}
	}
}


/* BEGIN HEADER REGION */
.site-header {
	position: relative;
	margin-bottom: 1.5rem;

	.header-logo {
		display: inline-block;
		box-sizing: border-box;
		padding-left: 5%;	/* match .u-inner left side */
		html:not(.inlinesvg) & svg {display: none;}
		html.inlinesvg & {
			img {display: none;}
			svg {
				display: block;
				width: auto;
				height: 60px;
				path {
					fill: $c-lightest;
				}
			}
			a:hover svg path {
				fill: $c-nearwhite;
			}
		}
		.main-logo {
			float: left;
			padding-top: .5rem;
			padding-bottom: .25rem;
		}
		.subsection-logo {
			float: left;
			padding-top: .5rem;
			font-family: 'Oxygen', 'Arimo', sans-serif;
			font-size: 1.25rem;
			line-height: 1;
			color: $c-grey;
			font-weight: normal;
			margin-top: .75rem;
			margin-left: .5rem;
			&:empty {
				display: none;
			}
			@media #{$not-sm} {
				font-size: 2rem;
				margin-top: 0;
			}
			.category-personal &:before {content: "";}
			.category-games &:before {content: ": gaming";}
			.category-pro &:before {content: ": pro";}
			.page-id-640 &:before {content: ": about";}  /* About page */
		}
	}	/* /.header-logo */

	.header-search {
		box-sizing: border-box;
		position: absolute;
		top: .5rem;
		right: 5%;	/* match .u-inner right side */
		width: 40px;
		height: 40px;
		.search-container {
			width: 40px;
			height: 40px;
			cursor: pointer;
			&.icon-search:before {
				font-size: 1.5rem;
				display: block;
				text-align: right;
				padding: .5rem;
				color: $c-lightest;
			}
			&.icon-search:hover:before {
				color: $c-nearwhite;
			}
			.search-form {
				position: absolute;
				top: 0;
				right: 0;
				@extend .u-flex-parent;
			}
			label {
				float: left;
				clear: left;
			}
			input {
				box-sizing: border-box;
				background-color: #fff; /* pure white */
				border-top-left-radius: $radius;
				border-bottom-left-radius: $radius;
				&.search-submit {
					float: left;
					clear: right;
					color: transparent;	// hide input text
					background-color: $c-link-light;
					cursor: pointer;
					border-top-right-radius: $radius;
					border-bottom-right-radius: $radius;
				}
			}
		}
		&.closed {
			label {
				height: 0;
			}
			input {
				width: 0px;
				padding: 0px;
				border: 0px;
			}
		}
		&.open {
			.search-container {
				width: 100%;
			}
			input {
				height: 40px;
				border-color: $c-accent;
				border-style: solid;
				border-width: 0;
			}
			input.search-field {
				width: 150px;
				padding: 0px .5rem;
				border-width: 1px 0 1px 5px;
			}
			input.search-submit {
				text-indent: 0px;
				width: 40px;
				background-color: transparent;
				cursor: pointer;
				border-width: 1px 1px 1px 0;
				&:hover {background-color: rgba(242,249,255,0.2);}
			}
		}
	}	/* /.header-search */

	.navigation-container {
		box-sizing: border-box;
//		padding: 0 3%;	/* match .u-inner (visually) */
		width: 100%;
		@media #{$not-sm} {
			padding: 0 4%;	/* match .u-inner (visually) */
		}
		.nav-button {
			border-bottom: 4px solid transparent;	/* set up spacing */
			text-align: center;
			&:hover {
				border-bottom-color: $c-nearwhite;
			}
			.toplevel-link,
			.nav-button-expand-toggle {
				box-sizing: border-box;
				padding: .5rem;
				min-height: $min-interact;
				min-width: $min-interact;
			}
			.nav-button-expand-toggle {
				display: none;
				@extend .icon-plus;
				&.expanded {
					@extend .icon-minus;
				}
			}
			.nav-button-subcategories {
				display: none;
				position: absolute;
				left: 0;
				top: 32px;	/* match height of .nav-button--expandable */
				background-color: rgba(0,0,0,0.85);
				box-sizing: border-box;
				padding: .5rem 0;
				border: 1px solid $c-lightest;
				border-top-width: 4px;
				width: 100%;
				z-index: 2;
				ul.menu {
					list-style: none;
					a {
						line-height: 2rem;
						padding: 0 1rem;
					}
				}
			}
			@media #{$not-sm} {
				text-align: left;
				&.nav-button--expandable {
					display: -webkit-box;
					display: -moz-box;
					display: -ms-flexbox;
					display: -webkit-flex;
					display: flex;
					position: relative;
					> * {
						box-sizing: border-box;
					}
				}
				.toplevel-link {
					-webkit-flex-grow: 1;
					flex-grow: 1;
				}
				.nav-button-expand-toggle {
					display: block;
					float: right;
					clear: right;
				}
			}

			// Context highlighting
			body.category-pro &.nav-button--pro,
			body.category-personal &.nav-button--unpro {
				border-bottom-color: $c-accent;
			}

		} /* /.nav-button */
		a,
		.u-faketextlink {
			display: block;
			line-height: 1;
			&:hover {
				background-color: rgba(255,255,255,0.1);
			}
		}

		@media #{$not-sm} {
			.navigation-parent {
				height: 100%;
			}
		}

	}	/* /.navigation-container */

	@media #{$not-sm} {
		.header-search,
		.navigation-container {
			height: auto;	/* let the heights stretch */
		}
	}

}	/* /.site-header */

/* BEGIN FIXED HEADER & NAV TRANSITION */
@media #{$not-md} {
	.scan-lines {
		padding-top: 160px;	/* TUNE ME */
	}
	.site-header {
		position: fixed;
		top: 0;
		z-index: 1;
		margin: 0;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row nowrap;
		flex-flow: row nowrap;
		body.logged-in.admin-bar & {
			top: 32px;
		}
		.header-logo {
			-webkit-box-ordinal-group: 1;		/* OLD - iOS 6-, Safari 3.1-6 */
			-moz-box-ordinal-group: 1;			/* OLD - Firefox 19- */
			-ms-flex-order: 1;							/* TWEENER - IE 10 */
			-webkit-order: 1;								/* NEW - Chrome */
			order: 1;
			padding-left: 2rem;
			min-width: 320px;	/* fit longest subsection text on one line */
			html.inlinesvg & svg,
			html:not(.inlinesvg) & img {
				height: 30px;
			}
			.subsection-logo {
				font-size: 1.5rem;
			}
		}
		.header-search {
			-webkit-box-ordinal-group: 3;		/* OLD - iOS 6-, Safari 3.1-6 */
			-moz-box-ordinal-group: 3;			/* OLD - Firefox 19- */
			-ms-flex-order: 3;							/* TWEENER - IE 10 */
			-webkit-order: 3;								/* NEW - Chrome */
			order: 3;
			position: relative;
			top: auto;
			right: 2rem;
		}
		.navigation-container {
			-webkit-box-ordinal-group: 2;		/* OLD - iOS 6-, Safari 3.1-6 */
			-moz-box-ordinal-group: 2;			/* OLD - Firefox 19- */
			-ms-flex-order: 2;							/* TWEENER - IE 10 */
			-webkit-order: 2;								/* NEW - Chrome */
			order: 2;
			.nav-button .nav-button-expand-toggle,
			.nav-button .toplevel-link {
				height: 100%;
				padding-top: 1rem;
			}
			.nav-button--home {
				display: none;
			}
		}
	}
}
/* END FIXED HEADER & NAV TRANSITION */



/* HEADLINE FOR LISTINGS & CONTENT */
.thumbnail-container {
	position: relative;
	box-sizing: border-box;
	img:first-child {
		display: block;
		width: 100%;
	}
}
.entry-container {
	padding: 1rem;
	border: 1px solid $c-grey;
	background-color: rgba(255,255,255,0.85);
	.single & {
		background-color: rgba(255,255,255,0.9);	// more opaque on single article pages
	}
	.entry-title {
		padding: 0 0 .5rem;
		border-bottom: 2px solid $c-primary;
		margin-bottom: .25rem;
		&:hover {
			border-bottom-color: $c-link2;
		}
	}
	.article-stats,
	.categories-container {
		box-sizing: border-box;
		width: 100%;
		font-size: .75rem;
		text-transform: uppercase;
		margin-bottom: .5rem;
	}
	.categories-container {
		display: none;
	}
	.entry-summary {
		margin-bottom: .5rem;
		p {
			line-height: 1.4;
			@media #{$not-sm} {
				font-size: 1.3rem;
			}
		}
	}
	.entry-cta {
		position: relative;
		a {
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	@media #{$not-sm} {
		.article-stats,
		.categories-container {
			float: left;
			width: 50%;
		}
		.categories-container {
			display: block;
			text-align: right;
		}
	}
}


@media #{$not-sm} {
	.thumbnail-container {
		background-size: 100% auto;
		max-height: none;
	}
}


/* BEGIN LISTING PAGES */
.listing {
	.thumbnail-container {
		margin-bottom: 4 * $margin;	/* add buffer space before next post or footer */
		border-top: 4px solid $c-nearblack;
	}
	.entry-container {
		position: absolute;
		top: 6rem;
		left: 5%;
		@media #{$not-sm} {
//		top: 12rem;
		}
		&.entry-container--placeholder {
			visibility: hidden;
			position: relative;
		}
	}
}

.time-nav {
	margin: 0 0 2rem;
	a {
		@extend .button-link;
		&:first-child {
			float: right;
		}
		&:last-child {
			float: left;
		}
	}
	&.time-nav--bottom {
		margin: 2rem 0;
	}
}

/* END LISTING PAGES */





/* BEGIN FOOTER REGION */
.fat-footer {
	> .u-inner {
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
	}
	.footer-section-container {
		box-sizing: border-box;
		min-width: 200px;
		max-width: 100%;
		padding: 1.5rem 0;
		h3 {
			margin-bottom: .5rem;
		}
		&.wireframe-toggle-container {
			p.f-smallest {
				text-align: center;
				font-style: italic;
				margin-top: .25rem;
			}
		}
		ul {
			list-style: none;
		}
		&.social-container {
			li {
				display: inline-block;
				margin-right: .5rem;
				margin-bottom: .5rem;
				a[class^=icon-] {
					font-size: 2rem;
				}
			}
		}
	}
	@media #{$not-sm} {
		> .u-inner {
			-webkit-flex-flow: row nowrap;
			flex-flow: row nowrap;
			&:after {
				content: none;	// Fixes a flex box alignment issue from the clearfix
			}
			.footer-section-container {
				max-width: 250px;
				padding-left: .5rem;
				padding-right: .5rem;
			}
			.footer-section-container:first-child {
				padding-left: 0;
			}
			.footer-section-container:nth-child(2) {
				text-align: center;
			}
			.footer-section-container:last-child {
				padding-right: 0;
				text-align: right;
			}
		}
	}
}
.copyright-footer {
	color: mix(white, $c-basetext, 50%);
	padding-bottom: .25rem;
}
/* END FOOTER REGION */



.single,
.page {
	article {
		margin-bottom: 4rem;
		> .u-inner {
			border-width: 2px;
		}
	}
}



.single {

	.post-thumbnail-img {
		display: block;
		margin: 0 auto;
	}

	// Use hard selectors to override the plugin
	div.sharedaddy {
		margin-top: 4rem;
		background-color: $c-primary;
		box-sizing: border-box;
		padding: 1rem .5rem .25rem;
		text-align: center;
		h3.sd-title {
			@extend h3;
			color: #fff;
			margin-bottom: .5rem;
			&:before {
				display: none;	/* remove small line above share widget */
			}
		}
	}

	.post-article-container {
		margin-top: 1rem;
		padding-bottom: 2rem;
	}

	.article-tags-container {
		margin-bottom: 2rem;
		p {
			font-size: .85rem;
			line-height: 1.4;
		}
	}

	.discuss-container {
		padding: 1rem;
		border: 1px solid $c-primary;
		background-color: #fff;
		margin-bottom: 3.5rem;
		text-align: center;
		.discuss-cta {
			margin: 1rem;
		}
	}

	.favorite-posts-container {
		h3 {
			@extend h2;
			margin-bottom: 1rem;
		}
		.favorite-posts {
			@extend .u-flex-parent;
			@extend .u-flex-parent--space-between;
			-webkit-flex-flow: column wrap;
			flex-flow: column wrap;

			.favorite-post--individual {
				position: relative;
			}

			.sharedaddy {
				display: none;
			}

			@media #{$not-sm} {
				-webkit-flex-flow: row nowrap;
				flex-flow: row nowrap;

				.favorite-post--individual {
					&:nth-child(odd) {
						margin-right: 1rem;
					}
					.entry-container {
						top: 10rem;
						right: 5%;
						.entry-summary p {
							font-size: 1rem;
						}
					}
				}

			}

		}
	}

} /* .single */

.aligncenter,
.alignright,
.alignleft {
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	&.wp-caption {
		// padding: ( $margin * .5 );
		margin-bottom: ( $margin * 1.5 );
		p,
		figcaption {
			font-size: .9rem;
			color: $c-grey;
			text-align: center;
			margin: ( $margin * .5 ) 0 0 0;
		}
	}
}
.aligncenter {
	margin-left: auto;
	margin-right: auto;
}
.alignright {
	float: right;
}
.alignleft {
	float: left;
}
