/* SCSS Variables */
$break1: 768px;
$break2: 920px;
$break3: 1060px;

$linkcolor: #2d5f83;
$linkcolor-lite: #327db3;
$hovercolor: #ae613b;

$white: #f2f9ff;  /* 242, 249, 255 */
$light1: #e3e8ec;
$light2: #cbd0d5;
$light3: #b0b6bb;
$grey: #7d848b;
$dark3: #505961;
$dark2: #39424b;
$dark1: #212b34;
$black: #05101a;

$radius: 8px;

html {
  height: 100%; /* for flex-box */
}

body {
  font-family: 'Arimo', sans-serif;
  overflow-x: hidden;
  background-color: $light1;
  background-image: 
  radial-gradient(circle at 100% 150%, $light1 24%, $white 25%, $white 28%, $light1 29%, $light1 36%, $white 36%, $white 40%, transparent 40%, transparent),
  radial-gradient(circle at 0    150%, $light1 24%, $white 25%, $white 28%, $light1 29%, $light1 36%, $white 36%, $white 40%, transparent 40%, transparent),
  radial-gradient(circle at 50%  100%, $white 10%, $light1 11%, $light1 23%, $white 24%, $white 30%, $light1 31%, $light1 43%, $white 44%, $white 50%, $light1 51%, $light1 63%, $white 64%, $white 71%, transparent 71%, transparent),
  radial-gradient(circle at 100% 50%, $white 5%, $light1 6%, $light1 15%, $white 16%, $white 20%, $light1 21%, $light1 30%, $white 31%, $white 35%, $light1 36%, $light1 45%, $white 46%, $white 49%, transparent 50%, transparent),
  radial-gradient(circle at 0    50%, $white 5%, $light1 6%, $light1 15%, $white 16%, $white 20%, $light1 21%, $light1 30%, $white 31%, $white 35%, $light1 36%, $light1 45%, $white 46%, $white 49%, transparent 50%, transparent);
  background-size:100px 50px;
  &.category-pro {
    background-color: $dark1;
    background-image: 
    radial-gradient(circle at 100% 150%, $dark1 24%, $black 25%, $black 28%, $dark1 29%, $dark1 36%, $black 36%, $black 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, $dark1 24%, $black 25%, $black 28%, $dark1 29%, $dark1 36%, $black 36%, $black 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, $black 10%, $dark1 11%, $dark1 23%, $black 24%, $black 30%, $dark1 31%, $dark1 43%, $black 44%, $black 50%, $dark1 51%, $dark1 63%, $black 64%, $black 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, $black 5%, $dark1 6%, $dark1 15%, $black 16%, $black 20%, $dark1 21%, $dark1 30%, $black 31%, $black 35%, $dark1 36%, $dark1 45%, $black 46%, $black 49%, transparent 50%, transparent),
    radial-gradient(circle at 0    50%, $black 5%, $dark1 6%, $dark1 15%, $black 16%, $black 20%, $dark1 21%, $dark1 30%, $black 31%, $black 35%, $dark1 36%, $dark1 45%, $black 46%, $black 49%, transparent 50%, transparent);
  }
}

/* starting points */
a {
  color: $linkcolor;
  text-decoration: none;
  .category-pro & {color: $linkcolor-lite;}
  &:hover {
    color: $hovercolor;
  }
}
a.button {
  border: 1px solid $linkcolor;
  padding: .4rem 1rem;
  white-space: nowrap;
  &:hover {border-color: $hovercolor;}
}

.screen-reader-text {
  font-size: 0px;
  line-height: 0px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  visibility: hidden;
}

h1 {
  font-size: 2.1rem;
  line-height: 2.2rem;
  font-weight: normal;
  margin-bottom: 1rem;
  .category-pro & {
    color: $white;
  }
}
h2 {
  font-size: 1.7rem;
  line-height: 2rem;
  font-weight: normal;
  margin-bottom: .5rem;
  .category-pro & {
    color: $white;
  }
}
h3 {
  font-size: 1.1rem;
  line-height: 1.6rem;
  font-weight: bold;
  margin-bottom: .5rem;
  .category-pro & {
    color: $white;
  }
}
h4 {
  font-size: 1rem;
  line-height: normal;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: .5rem;
  .category-pro & {
    color: $white;
  }
}
p, li {
  font-size: 1.1rem;
  .category-pro & {
    color: $white;
  }
}
p {
  line-height: 1.8rem;
  margin-bottom: 2rem;
}
p.anchor-tag {
  clear: both;
  font-size: 0px;
  line-height: .1rem;
  border: none;
  padding: 0px;
  margin: 0px 0px 20px 0px;
}
.form p {
  line-height: normal;
  margin-bottom: .8rem;
}
li {
  line-height: 1.3rem;
  margin-bottom: .7rem;
  &:last-child {margin-bottom: 0px;}
}
ul, ol {
  margin-bottom: 2rem;
  li {
    ul, ol {
      padding: .7rem 0px;
      margin: .7rem 0px 1rem 0px;
      border-top: 1px solid $light2;
      border-bottom: 1px solid $light2;
      .category-pro & {
        border-color: $dark2;
      }
    }
  }
}
hr {
  margin: 2rem auto;
  width: 60%;
  border: none;
  border-top: 1px solid $grey;
}
table {
  border-collapse: collapse;
  font-size: .9rem;
  line-height: 1.2rem;
  max-width: 100%;
  margin-bottom: 3rem;
  th, td {
    padding: .5rem;
    border: 1px solid $grey;
    p, li {
      font-size: .9rem;
      line-height: 1.2rem;
    }
  }
  th {
    font-weight: bold;
    text-transform: uppercase;
  }
  td {}
  .category-pro & {
    color: $white;
  }
}

blockquote {
  margin: 2rem 0px;
  padding: .5rem 1rem 1.2rem .5rem;
  quotes: "\201C""\201D""\2018""\2019";
  background-color: $light1;
  border-left: 10px solid $light2;
  .category-pro & {
    background-color: $dark1;
    border-left: 10px solid $dark2;
  }
  &:before {
    color: $light2;
    content: open-quote;
    font-size: 5rem;
    line-height: 0.1rem;
    vertical-align: -3rem;
    .category-pro & {
      color: $dark2;
    }
  }
  p {
    display: block;
    margin-top: -1.5rem;
    margin-left: 36px;
    &:nth-last-child(2):after {
      content: close-quote;
    }
    &:last-child {margin-bottom: 0px;}
    &.cite {
      font-size: .9rem;
      line-height: normal;
      text-align: right;
      margin-bottom: 0px;
      del {}  /* fallback in case the replacement AJAX doesn't fire */
    }
  }
}

strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
del {
  color: $grey;
}
input, select, textarea {max-width: 100%;}

/* detailed layout begins */
.total-wrapper {
  max-width: 100%;
  img {
    max-width: 100%;
    height: auto;
  }
}

.container {
  float: left;
  clear: both;
  width: 100%;
  .inner {
    width: 90%;
    margin: 0px auto;
    &:after {
      clear: both;
      content: '';
      visibility: hidden;
      display: block;
      height: 0px;
    }
  }
}

@media only screen and (min-width: $break3){
  .container .inner,
  .sidebar-container .inner
  {
    width: 1000px;
    margin: 0px auto;
  }
}


@-webkit-keyframes animated-header {
   from {
     -webkit-transform: translateX(0);
   }
   to {
     -webkit-transform: translateX(-100%);
   }
}

header {
  background-color: $white;
  border-bottom: 1px solid $light2;
  .bg-container {
    position:relative;
    .bg-inner {
      width: 2560px;
      height: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
      background-image: url('images/header-unpro.jpg');
      background-repeat: repeat-x;
      background-position: 0% 0%;
      -webkit-animation-name: animated-header;
      -webkit-animation-duration: 200s;
      -webkit-animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
    }
  }
  .inner {padding: .75rem 0px;}
  .category-pro & {
    background-color: $black;
    border-bottom: 1px solid $dark2;
    .bg-inner {
      background-image: url('images/header-pro.jpg')
    }
  }
}
.header-logo {
  float: left;
  clear: left;
  max-width: 40%;
  margin-top: 1.5rem;
  svg {display: none;}
  html.inlinesvg & {
    img {display: none;}
    svg {
      display: block;
      width: auto;
      height: 60px;
      path {
        fill: $linkcolor;
      }
    }
    &:hover svg path {
      fill: $hovercolor;
    }
  }
/*  html.inlinesvg .category-pro svg path {
    fill: $linkcolor-lite;
  } */
} /* END .header-logo */

.subsection-logo {
  float: left;
  clear: none;
  font-family: 'Oxygen', 'Arimo', sans-serif;
  font-size: 2.7rem;
  line-height: normal;
  color: $grey;
  font-weight: normal;
  margin-top: 10px;
  margin-left: 16px;
  .category-personal &:before {content: ": unPro";}
  .category-games &:before {content: ": gaming";}
  .category-pro &:before {content: ": Pro";}
  .page-id-640 &:before {content: ": about";}  /* About page */
}

.search-container {
  float: right;
  clear: right;
  width: 40px;
  height: 40px;
  background-image: url('images/search-grey.png');
  background-color: $light1;
  background-repeat: no-repeat;
  background-position: center right;
  border-radius: $radius;
  cursor: pointer;
  &:hover {
    background-image: url('images/search-white.png');
    background-color: $hovercolor;
  }
  .category-pro & {
    background-color: $dark1;
    border-radius: 0px;
    &:hover {background-color: $hovercolor;}
  }
  label {
    float: left;
    clear: left;
  }
  label span {display: none;}
  input {
    box-sizing: border-box;
    width: 0px;
    padding: 0px;
    height: 40px;
    border: 0px;
    background-color: #fff; /* pure white */
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
    &.search-field {
    }
    &.search-submit {
      float: left;
      clear: right;
      text-indent: -9999px;
      background-color: transparent;
      color: transparent;
      cursor: pointer;
      &:hover {background-color: rgba(242,249,255,0.2);}
    }
  }
  &.open {
    input.search-field {
      width: 120px;
      padding: 0px .5rem;
    }
    input.search-submit {
      text-indent: 0px;
      width: 40px;
      background-color: transparent;
      cursor: pointer;
      &:hover {background-color: rgba(242,249,255,0.2);}
    }
  }
} /* .search-container */

.menu-container {
  float: right;
  clear:right;
  width:40px;
  height:40px;
  background-image: url('images/menu-grey.png');
  background-color: $light1;
  background-size: 24px auto;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: $radius;
  cursor: pointer;
  margin-top: .75rem;
  .category-pro & {
    background-color: $dark1;
    border-radius: 0px;
  }
  &.open {
    background-image: url('images/menu-white.png');
    background-color: $linkcolor;
    border-color: $linkcolor;
  }
  &:hover {
    background-image: url('images/menu-white.png');
    background-color: $hovercolor;
    border-color: $hovercolor;
  }
  .menu-text {
    display: none;
  }
  .inner-menu {
    display: none;
    position: absolute;
    box-sizing: border-box;
    margin-top: 34px;
    right: 5%;
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    border: 1px solid $grey;
    cursor: default;
  }
  ul {
    margin: 0px;
    ul {
      padding: 0px;
      border: none;
    }
  }
  li {
    float: left;
    clear: left;
    box-sizing: border-box;
    margin-bottom: 0px;
    width: 50%;
    min-height: 0px;
    padding: 1.5rem;
    background-image: url('images/bg-splash520a.jpg');
    background-position: 100% 40%;
    background-size: 160px auto;
    background-color: $black;
    color: $white;
    &:nth-child(even){
      background-image: url('images/bg-splash520b-flipped.jpg');
      background-color: $white;
      color: $black;
    }
    &.menu-item-2538 a {  /* Pro Category Menu */
      color: $linkcolor-lite;
      &:hover {color: $hovercolor;}
    }
    a {
      display: block;
    }
    a:first-child,
    h4 {
      font-weight: bold;
      text-transform: uppercase;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid $grey;
    }
    &:nth-child(even) {
      clear: right;
    }
    li, li:nth-child(even) {
      float: left;
      clear: both;
      width: 100%;
      padding: 0px;
      margin-left: 0px;
      margin-bottom: 1rem;
      background-color: transparent;
      background-image: none;
      a:first-child {
        font-weight: normal;
        text-transform: none;
        margin-bottom: 0px;
        padding: 0px;
        border: 0px;
      }
      ul {display: none;}
    }
    li:last-child {margin-bottom: 0px;}
  }
  .secondary-menu-container {
/*    display: none;  /* during development only */
    float: left;
    clear: both;
    width: 100%;
    border-top: 1px solid $light3;
    background-color: $linkcolor;
    li {
      background-color: transparent;
      background-image: none;
      h4 {
        color: $white;
        margin-bottom: 1rem;
      }
      a {
        color: $white;
        &:hover {color: $light3;}
      }
    }
    .all-posts {
      float: left;
      clear: both;
      width: 100%;
      border-top: 1px solid $linkcolor-lite;
      background-color: $grey;
      margin-top: 1rem;
      a {
        display: block;
        font-size: 1.2rem;
        line-height: normal;
        color: $white;
        text-align: center;
        margin: 1rem auto;
        &:hover {color: $hovercolor;}
      }
    }
  }
}

@media only screen and (min-width: $break2) {
  .menu-container {
    width:90px;
    background-position: 57px 50%;
    .menu-text {
      display: inline;
      font-size: .8rem;
      line-height: 40px;
      color: $grey;
      margin-left: .5rem;
    }
    &.open .menu-text,
    &:hover .menu-text {
      color: $white;
    }
  }
}

article {
  padding: 0px 0px 2rem 0px;
} /* END article */

.time-nav {
  float: left;
  clear: both;
  width: 90%;
  margin-left: 5%;
  background-color: $white;
  .category-pro & {
    background-color: $black;
  }
  .older,
  .newer {
    padding: 1rem;
    background-color: $light1;
    .category-pro & {
      background-color: $dark1;
    }
    span {
      display: block;
      font-size: 1.1rem;
      line-height: normal;
    }
    svg {display: none;}
    html.inlinesvg & {
      svg {
        display: block;
        path {fill: $linkcolor;}
      }
      &:hover {
        border-color: $hovercolor;
        svg path {
          fill: $hovercolor;
        }
      }
    }
  }
  .single & {
    width: 100%;
    margin: 2rem 0px 2rem 0px;
    h3 {
      width: 92%;
      margin: 0px auto;
    }
    .older,
    .newer {
      padding: 0px;
      border: none;
    }
    a {
      display: block;
      box-sizing: border-box;
      width: 92%;
      padding: .9rem;
      border-top-left-radius: 15px;
      background-size: 20px;
      min-height: 80px;
      font-size: 1.3rem;
      line-height: 1.6rem;
      margin: 0px 0px 2rem 0px;
      background-color: $light1;
      .category-pro & {
        background-color: $dark1;
      }
      &:hover {
        color: #fff;
        background-color: $hovercolor;
        border-color: $hovercolor;
      }
    }
    .older a {
      float: right;
      background-image: url('images/ring-left.png');
      background-position: 3% center;
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      padding-left: 50px;
      margin-right: 4%;
    }
    .newer a {
      float: left;
      background-image: url('images/ring-right.png');
      background-position: 97% center;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
      padding-right: 50px;
      text-align: right;
      margin-left: 4%;
    }
  }
} /* END .time-nav */

@media only screen and (min-width: $break1) {
  .single .time-nav {
    float: none;
    clear: none;
    width: 600px;
    display: block;
    margin: 2rem auto;
    &:before, &:after {
      clear: both;
      content: '';
      visibility: hidden;
      display: block;
      height: 0px;
    }
    a {
      font-size: 2rem;
      line-height: 2.3rem;
      padding: .7rem;
    }
  }
}


section {
  float: left;
  clear: both;
  box-sizing: border-box;
  width: 100%;
  margin: 2rem 0px;
  &:first-of-type {margin-top: 0px;}
  &.error404 {
    margin-top: 40px;
  }
  .thumbnail-container {
    float: left;
    clear: both;
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: 100% auto;
    background-color: $light2;
    .category-pro & {
      background-color: $dark2;
    }
  }
} /* END section */

@media only screen and (min-width: $break3) {
  section {
    .thumbnail-container {
      border-radius: $radius*2;
      .category-pro & {border-radius: 0px;}
    }
  } /* END section */
}


.text-container {
  float: left;
  clear: both;
  box-sizing: border-box;
  background-color: $white;
  width: 90%;
  margin-left: 5%;
  padding: 1rem 20px;
  margin-top: -40px;
  border: 1px solid $light2;
  border-radius: $radius;
  .category-pro & {
    background-color: $black;
    border: 1px solid $dark2;
    border-radius: 0px;
  }
} /* .text-container */

@media only screen and (min-width: $break1) {
  .text-container {
    border-radius: $radius*2;
  }
}

.entry-meta-container {
  float: left;
  clear: both;
  width: 100%;
  p {
    font-size: .9rem;
    text-transform: uppercase;
    margin-bottom: .5rem;
    span {
      font-size: 1.1rem;
      text-transform: none;
    }
    a {
      border: none;
      padding: 0px;
    }
  }
  .date, .categories {
    float: left;
    clear: left;
  }
  .comments-exist {
    float: right;
    clear: right;
    a {
      display: block;
      color: #fff;
      background-color: $linkcolor;
      border-radius: 16px;
      padding: 6px 16px;
      &:hover {
        background-color: $hovercolor;
      }
    }
  }
}

.single .entry-meta-container:nth-of-type(3) {
  margin-bottom: 2.5rem;
}

.listing {
  .time-nav {
    margin-bottom: 1rem;
    background-color: transparent;
    &:first-child {
      margin-top: 1.5rem;
    }
    a {display: block;}
    a:after {
      clear: both;
      content: '';
      visibility: hidden;
      display: block;
      height: 0px;
    }
    .older, .newer {
      margin: 0px auto;
      border-radius: $radius*2;
      .category-pro & {border-radius: 0px;}
      span {
        width: 100%;
        text-align: center;
      }
      svg {
        margin: 0px auto;
        max-width:12%;
      }
    }
    .newer {
      svg {
        margin-top: 4px;
        margin-bottom: .5rem;
      }
    }
    .older {
      svg {
        transform: scaleY(-1);  /* flip the image vertically */
        margin-top: .5rem;
      }
    }
    &:first-of-type .older {display: none;}
    &:last-of-type .newer {display: none;}
  } /* END .time-nav */

  section {
    width: 100%;
    p {
      font-size: 1rem;
    }
  }
  h2 {
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: normal;
    margin: 0px 0px .5rem 0px;
  }

} /* END .listing */

@media only screen and (min-width: $break3) {
  .listing {
    float: none;
    width: 1000px;
    margin: 0px auto;
    .time-nav {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      &:last-of-type {
        margin-bottom: 3rem;
      }
      .older, .newer {
        svg {
          width: 60px;
        }
      }
    }
    h2 {
      margin-bottom: 1rem; /* make room for effect */
    }
  }
}

.single {
  .text-container {
    margin: 30px 0px;
    width: 100%;
  }
  .entry-content {
    padding-bottom: 2rem;
    border-bottom: 1px solid $grey;
    margin-top: 2rem;
    margin-bottom: .5rem;
  } /* .entry-content */
  .attachment-post-thumbnail {
    margin: 1rem auto;
  }
} /* .single */

.entry-content {
  p a,
  li a {
    border: 1px solid $linkcolor;
    padding: .2rem;
    white-space: nowrap;
    &:hover {border-color: $hovercolor;}
    &.img-container {
      border: none;
      padding: 0px;
    }
  }
  h2, h3 {
    margin-top: 3rem;
    &:before {
      clear: both;
      content: '';
      visibility: hidden;
      display: block;
      height: 0px;
    }
  }
  ul {
    padding-left: 40px;
    list-style-type: circle;
    .category-pro & {
      list-style-type: square;
      ul {list-style-type: disc;}
    }
    ul {
      padding-left: 36px;
      list-style-type: disc;
    }
  }
  ol {
    padding-left: 46px;
    list-style-type: decimal-leading-zero;
    ol {
      padding-left: 26px;
      list-style-type: upper-alpha;
      ol {
        list-style-type: lower-roman;
        ol {
          list-style-type: lower-alpha;
        }
      }
    }
  }
  iframe, embed, .youtube-player {
    display: block;
    max-width: 100%;
    margin: 0px auto;
  }
}


.aligncenter, .alignright, .alignleft, .img-container {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0px auto 3rem auto;
  * {max-width: 100%;}
  a {
    display: block;
    border: none;
    padding: 0px;
    white-space: normal;
  }
  a:after {
    clear: both;
    content: '';
    visibility: hidden;
    display: block;
    height: 0px;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  &.wp-caption {
    padding: .5rem;
    background-color: $light1;
    border: 1px solid $light2;
    margin-bottom: 3rem;
    .category-pro & {
      background-color: $dark1;
      border-color: $dark2;
    }
    img {
      border: 1px solid $light2;
      .category-pro & {
        border-color: $dark2;
      }
    }
    p, figcaption {
      font-size: .8rem;
      line-height: 1rem;
      color: $dark1;
      text-align: center;
      margin: .5rem 0px 0px 0px;
      .category-pro & {
        color: $light1;
      }
    }
  }
}
.img-container {
  display: block;
  border: none;
  padding: 0px;
  figure & {margin-bottom: .5rem;}
}

@media only screen and (min-width: $break3){
  .text-container {
    padding: 1.5rem 2.5rem;
  }
  .entry-meta-container {
    p {
      font-size: 1rem;
      line-height: normal;
      span {
        font-size: 1.2rem;
      }
    }
  }
  .single {
    .entry-content {
      p, li, h3 {
        font-size: 1.4rem;
        line-height: 2rem;
      }
      li {line-height: 1.7rem;}
      h2 {
        font-size: 1.9rem;
        line-height: 2.2rem;
        margin-top: 2rem;
        margin-bottom: .8rem;
      }
      h3 {
        margin-top: 2rem;
      }
    }
  } /* .single */
  .img-container img {
    &.alignleft {margin-right: 2rem;}
    &.alignright {margin-left: 2rem;}
  }
}


/* COMMENTS */
#respond {
  float: left;
  clear: both;
  border-top: 1px solid $light2;
  padding-top: 2rem;
  width: 100%;
  .category-pro & {
    border-color: $dark2;
  }
}
.fbSEOComments, #fbSEOComments {
  float: left;
  clear: both;
  width: auto !important;
  max-width: 100%;
  overflow-x: scroll;
}
@media only screen and (min-width: $break3){
  .fbSEOComments, #fbSEOComments {
    overflow-x: hidden;
  }
}



/* Sidebar */
.sidebar-container {
  float: left;
  clear: both;
  margin-bottom: 2rem;
  width: 100%;
  &:after {
    clear: both;
    content: '';
    visibility: hidden;
    display: block;
    height: 0px;
  }
  aside {
    float: left;
    clear: left;
    width: 40%;
    margin-left: 5%;
    &:nth-child(even) {
      clear: right;
      margin-left: 10%;
    }
    h3 {
      margin-bottom: .5rem;
    }
    li {
      font-size: .9rem;
      line-height: normal;
      background-color: $white;
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 30px auto;
      padding: 6px 0px 0px 40px;
      box-sizing: border-box;
/*      border: 1px solid $light2;  */
      border-radius: $radius;
      height: 30px;
      margin-bottom: .5rem;
      .category-pro & {
        background-color: $black;
        border-radius: 0px;
      }
      &:last-child {margin-bottom: 0px;}
      &.about {
        background-image: url('images/icon-about.png');
        &:hover {background-image: url('images/icon-about-hover.png');}
      }
      &.blizzard {
        background-image: url('images/icon-battlenet.png');
        &:hover {background-image: url('images/icon-battlenet-hover.png');}
      }
      &.contact {
        background-image: url('images/icon-contact.png');
        &:hover {background-image: url('images/icon-contact-hover.png');}
      }
      &.facebook {
        background-image: url('images/icon-facebook.png');
        &:hover {background-image: url('images/icon-facebook-hover.png');}
      }
      &.github {
        background-image: url('images/icon-github.png');
        &:hover {background-image: url('images/icon-github-hover.png');}
      }
      &.googleplus {
        background-image: url('images/icon-googleplus.png');
        &:hover {background-image: url('images/icon-googleplus-hover.png');}
      }
      &.linkedin {
        background-image: url('images/icon-linkedin.png');
        &:hover {background-image: url('images/icon-linkedin-hover.png');}
      }
      &.lol {
        background-image: url('images/icon-lol.png');
        &:hover {background-image: url('images/icon-lol-hover.png');}
      }
      &.mtgo {
        background-image: url('images/icon-mtgo.png');
        &:hover {background-image: url('images/icon-mtgo-hover.png');}
      }
      &.psn {
        background-image: url('images/icon-psn.png');
        &:hover {background-image: url('images/icon-psn-hover.png');}
      }
      &.resume {
        background-image: url('images/icon-resume.png');
        &:hover {background-image: url('images/icon-resume-hover.png');}
      }
      &.spotify {
        background-image: url('images/icon-spotify.png');
        &:hover {background-image: url('images/icon-spotify-hover.png');}
      }
      &.stackoverflow {
        background-image: url('images/icon-stackoverflow.png');
        &:hover {background-image: url('images/icon-stackoverflow-hover.png');}
      }
      &.steam {
        background-image: url('images/icon-steam.png');
        &:hover {background-image: url('images/icon-steam-hover.png');}
      }
      &.twitter {
        background-image: url('images/icon-twitter.png');
        &:hover {background-image: url('images/icon-twitter-hover.png');}
      }
      &.xbl {
        background-image: url('images/icon-xbl.png');
        &:hover {background-image: url('images/icon-xbl-hover.png');}
      }
    }
  }
}


footer {
  padding: 1rem 0px;
  border-top: 1px solid $grey;
  background-color: $white;
  .category-pro & {
    background-color: $black;
  }
  .copyright {
    font-size: .8rem;
    line-height: normal;
    color: $grey;
    font-weight: normal;
    margin: 0px;
    text-align: center;
    a {
      color: inherit;
      &:hover {color: $hovercolor;}
    }
  }
}

@media only screen and (min-width: $break1){
  header {
    position: fixed;
    z-index: 1;
    .header-logo {
      margin-top: .25rem;
      html.inlinesvg & a svg {
        height: 50px;
      }
    }
    .subsection-logo {
      font-size: 2.7rem;
      margin-top: -9px;
      margin-left: 16px;
    }
    .menu-container,
    .search-container {
      margin-top: .25rem;
    }
    .menu-container {
      clear: none;
      margin-right: .75rem;
      .inner-menu {
        margin-top: 55px;
      }
    }
  }
  
  article {
    padding: 5rem 0px;
  }

  .alignright, .alignleft {
    max-width: 50%;
    margin-top: .5rem;
    margin-bottom: 1rem;
  }
  .alignleft {
    float: left;
    clear: left;
    margin-right: 2.2rem;
  }
  .alignright {
    float: right;
    clear: right;
    margin-left: 2.2rem;
  }
  .aligncenter {
    max-width: 100%;
    margin-bottom: 2rem;
  }
}



@media only screen and (min-width: $break2){
  header .menu-container .inner-menu {
    margin-top: 12px;
  }
}



@media only screen and (min-width: $break3){
  
  a.special {
    position: relative;
    display: inline-block;
    outline: none;
    text-decoration: none;
    text-shadow: 0 0 1px rgba(242, 249, 255, 0.3);
    .page-id-2638 .unpro &,
    .category-personal & {
      text-shadow: 0 0 1px rgba(111, 134, 134, 0.3);
      &:before {
        color: $hovercolor;
        content: attr(data-hover);
        position: absolute;
        opacity: 0;
        text-shadow: 0 0 1px rgba(242, 249, 255, 0.3);
        -webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
        -moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
        transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
        -moz-transition: -moz-transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        pointer-events: none;
      }
      &:hover:before,
      &:focus:before {
        -webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
        -moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
        transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
        opacity: 1;
      }
    }
    .page-id-2638 .pro &,
    .category-pro & {
      padding: 0px 0px 2px 0;
      &:after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 4px;
        background: rgba(242, 249, 255, 0.2);
        content: '';
        opacity: 0;
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        -moz-transition: opacity 0.3s, -moz-transform 0.3s;
        transition: opacity 0.3s, transform 0.3s;
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        transform: translateY(10px);
      }
      &:hover::after,
      &:focus::after {
        opacity: 1;
        transform: translateY(0px);
      }
    }
  }

  h1 {
    font-size: 3rem;
    line-height: 3.2rem;
    &.special {
      font-family: 'Oxygen', 'Arimo', sans-serif;
    }
  }
  
  article {
    section {
      .text-container {
        padding: 1.5rem 40px;
      }
    }
  }

}


/* WordPress Plug-Ins */

/* Simple Lightbox */
#slb_viewer_wrap .slb_theme_slb_default,
#slb_viewer_wrap .slb_theme_slb_baseline {

  .slb_details {
    border-top: 1px solid $light2;
    padding-top: 1rem;
    .category-pro & {
      border-color: $dark2;
    }
  }
  .slb_group_status {
    display: block;
    font-size: 1rem;
    line-height: normal;
    color: $grey;
    font-style: normal;
    text-align: center;
    margin: .5rem 0px 0px 0px;
  }
  .slb_slideshow { display: none; }
  .slb_data_title { display: none; }
  .slb_data_desc { display: none; }
}


/* General Pages */
.page-content {
  .text-container {
    margin: 2rem 0px 0px 0px;
    width: 100%;
  }
  section {
    border-top: 1px solid $light1;
    padding: 2rem 0px;
    width: 100%;
    margin-bottom: 0px;
    h2:first-child {
      margin-top: 0px;
    }
  }
  .col {
    box-sizing: border-box;
    width: 100%;
  }
  .center-me {
    margin: 0px auto;
  }
}

@media only screen and (min-width: $break2){
  .page-content {
    .text-container {
      margin-top: 2rem;
      h1 {
        font-family: 'Oxygen', 'Arimo', sans-serif;
      }
    }
    .col {
      float: left;
      clear: none;
      &:nth-child(2) {float: right;}
    }
    .main-col {
      width: 60%;
    }
    .secondary-col {
      width: 30%;
    }
    .third-col {
      float: left;
      box-sizing: border-box;
      width: 30%;
      margin-right: 5%;
      &:nth-child(3) {margin-right: 0px;}
    }
  }
}


/* Home page */
.page-id-2638 {
  background-image: none;
  /* enable flex boxes */
  &,
  .total-wrapper,
  article,
  article .inner,
  .page-content
  {
    height: 100%;
  }
  header .bg-inner {display:none;}
  article {
    padding: 0px;
    .inner {width: 100%;}
  }
  .page-content {
    display: flex;
    flex-direction: column;
    min-height: 768px;
  }
  .halfscreen {
    flex: 1 100%;
    width: 100%;
    height: auto;
    .text-container {
      float: left;
      clear: none;
      background-color: rgba(5, 16, 26, 0.3);
      width: 60%;
      margin: 2rem 6% 0px 6%;
      padding: 1rem 20px;
      border: none;
      border-radius: 0px;
      a.button {
        padding: .4rem 1rem;
      }
    }
    &.pro {
      background-image: url('images/bg-splash1040a.jpg');
      background-color: $black;
      background-position: 100% 50%;
      color: $white;
      .text-container {
        padding-left: 0px;
        a.button {
          background-color: $black;
          border-radius: 0px;
        }
      }
    }
    &.unpro {
      background-image: url('images/bg-splash1040b.jpg');
      background-color: $white;
      background-position: 0% 50%;
      .text-container {
        float: right;
        background-color: rgba(242, 249, 255, 0.6);
        padding-right: 0px;
        h1, p, a {text-align: right;}
        a.button {
          background-color: $white;
          border-radius: $radius;
        }
      }
    }
  }
  footer {
    .copyright {
      text-align: left;
    }
  }
}

@media only screen and (min-width: $break1){
  .page-id-2638 {
    header, footer {
      position: absolute;
      background-color: transparent;
      background-image: none;
      border: none;
    }
    footer {bottom: 0px;}
    .page-content {
      flex-direction: row;
    }
    .halfscreen {
      background-repeat: no-repeat;
      .text-container {
        margin: 7rem 10% 0px 10%;
        width: 320px;
      }
      &.pro {
        background-image: url('images/bg-splash1040a.jpg');
        background-color: $black;
        background-position: 100% 50%;
      }
      &.unpro {
        background-image: url('images/bg-splash1040b.jpg');
        background-color: $white;
        background-position: 0% 50%;
      }
    }
  }
}

@media only screen and (min-width: $break3){
  .page-id-2638 .halfscreen {
    &.pro .text-container {
      float: right;
      margin-left: 0px;
      margin-right: 180px;
    }
    &.unpro .text-container {
      float: left;
      margin-left: 180px;
      margin-right: 0px;
    }
  }
}


/* About Page */
.page-id-640 {
  p, li {
    max-width: 600px;
    &.copyright {max-width: none;}
  }
  #years {
    margin: 0px;
    padding-bottom: 0px;
    h4 {
      margin: 2.5rem auto;
      a {
        display: block;
        background-position: 50% 100%;
        background-size: auto 20px;
        padding-bottom: 30px;
        &:last-child {margin-bottom: 0px;}
        &:hover {background-image: url('images/ring-bottom.png');}
      }
      span {
        display: block;
        font-size: 1rem;
        line-height: normal;
        text-align: center;
        &.big {
          font-size: 6rem;
          line-height: 5rem;
        }
        &.small {
          font-size: .7rem;
          line-height: 1.1rem;
        }
      }
    }
  }
  .contact-me {
    h1, h2, p {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    p {
      font-size: 1.1rem;
      line-height: 1.6rem;
    }
    ul {
      list-style-type: none;
      padding-left: 0px;
      width:240px;
      margin: 2rem auto;
      li {
        line-height: 30px;
        background-repeat: no-repeat;
        padding-left: 40px;
        min-height: 30px;
        &.email {
          background-image: url('images/icon-contact.png');
          &:hover {background-image: url('images/icon-contact-hover.png');}
        }
        &.linkedin {
          background-image: url('images/icon-linkedin.png');
          &:hover {background-image: url('images/icon-linkedin-hover.png');}
        }
        &.skype {
          background-image: url('images/icon-skype.png');
          &:hover {background-image: url('images/icon-skype-hover.png');}
        }
        a {
          padding: 0px;
          border: none;
        }
      }
    }
  }
}
.meters-container {
  margin-top: 3rem;
  .meter {
    box-sizing: border-box;
    background-color: $grey;
    height: 2rem;
    padding: .2rem .5rem;
    h3 {
      white-space: nowrap;
      margin: 0px;
    }
  }
  .skill {
    color: $white;
    background-color: $dark2;
    background: repeating-linear-gradient( 45deg, $dark2, $dark1 10px, $dark2 10px, $dark1 20px );
    margin-bottom: .5rem;
    &.level100 {
/*    &:after {content: "100%";}  */
      .meter {width: 100%;}
    }
    &.level95 {
/*    &:after {content: "95%";}  */
      .meter {width: 95%;}
    }
    &.level90 {
/*    &:after {content: "90%";}  */
      .meter {width: 90%;}
    }
    &.level85 {
/*    &:after {content: "85%";}  */
      .meter {width: 85%;}
    }
    &.level80 {
/*    &:after {content: "80%";}  */
      .meter {width: 80%;}
    }
    &.level75 {
/*    &:after {content: "75%";}  */
      .meter {width: 75%;}
    }
    &.level70 {
/*    &:after {content: "70%";}  */
      .meter {width: 70%;}
    }
    &.level65 {
/*    &:after {content: "65%";}  */
      .meter {width: 65%;}
    }
    &.level60 {
/*    &:after {content: "60%";}  */
      .meter {width: 60%;}
    }
    &.level55 {
/*    &:after {content: "55%";}  */
      .meter {width: 55%;}
    }
    &.level50 {
/*    &:after {content: "50%";}  */
      .meter {width: 50%;}
    }
    &.level45 {
/*    &:after {content: "45%";}  */
      .meter {width: 45%;}
    }
    &.level40 {
/*    &:after {content: "40%";}  */
      .meter {width: 40%;}
    }
    &.level35 {
/*    &:after {content: "35%";}  */
      .meter {width: 35%;}
    }
    &.level30 {
/*    &:after {content: "30%";}  */
      .meter {width: 30%;}
    }
    &.level25 {
/*    &:after {content: "25%";}  */
      .meter {width: 25%;}
    }
    &.level20 {
/*    &:after {content: "20%";}  */
      .meter {width: 20%;}
    }
    &.level15 {
/*    &:after {content: "15%";}  */
      .meter {width: 15%;}
    }
    &.level10 {
/*    &:after {content: "10%";}  */
      .meter {width: 10%;}
    }
    &.level5 {
/*    &:after {content: "5%";}  */
      .meter {width: 5%;}
    }
    &.level0 {
/*    &:after {content: "0%";}  */
      .meter {width: 0%;}
    }
  }
  p {
    text-align: center;
    margin: 1.6rem 0px 0px 0px;
  }
}
