/* UTILITY CLASSES */

.u-container {
  float: left;
  clear: both;
  width: 100%;
}
.u-inner {
	box-sizing: border-box;
  width: 90%;
  max-width: 1000px;
  margin: 0px auto;
  &:after {
    clear: both;
    content: '';
    visibility: hidden;
    display: block;
    height: 0px;
  }
	&.u-inner--padded {
		padding-left: $margin;
		padding-right: $margin;
	}
}

// Conditional inner elements by breakpoint
@media #{only-sm} {
  .u-inner.u-inner--not-sm {
  	width: 100%;
	}
}

.u-clear {
	clear: both;
}
.u-clearfix:after {
	clear: both;
	content: '';
	visibility: hidden;
	display: block;
	height: 0px;
}
.u-bold {
	font-weight: bold;
}
.u-allcaps,
.u-uppercase {
	text-transform: uppercase;
}
.u-capitalize {
	text-transform: capitalize;
}
.u-lowercase {
	text-transform: lowercase;
}
.u-hidden {
	display: none;
}
.u-nobreak,
.u-nowrap {
	white-space: nowrap;
}

/* accessibility text */
.u-visually-hidden,
.screen-reader-text	// legacy
{
	position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Style for clickable non-<a> elements */
.u-clickable {
	cursor: pointer;
}

/* flex box utility classes */
.u-flex-parent {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	> .u-flex--grow1 {
		-webkit-flex-grow: 1;
		flex-grow: 1;
	}
	> .u-flex--grow2 {
		-webkit-flex-grow: 2;
		flex-grow: 2;
	}
	> .u-flex--grow3 {
		-webkit-flex-grow: 3;
		flex-grow: 3;
	}
	> .u-flex--grow4 {
		-webkit-flex-grow: 4;
		flex-grow: 4;
	}
	> .u-flex--grow5 {
		-webkit-flex-grow: 5;
		flex-grow: 5;
	}
}
.u-flex-parent--row-nowrap {
	-webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;
}
.u-flex-parent--col-nowrap {
	-webkit-flex-flow: column nowrap;
	flex-flow: column nowrap;
}
.u-flex-parent--row-wrap {
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}
.u-flex-parent--col-wrap {
	-webkit-flex-flow: column wrap;
	flex-flow: column wrap;
}
.u-flex-parent--space-around {
	-webkit-justify-content: space-around;
	justify-content: space-around;
}
.u-flex-parent--space-between {
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.u-flex-parent--center {
	-webkit-justify-content: center;
	justify-content: center;
}

/* Responsive Shortcut Classes */
@media #{$only-sm} {
	.u-not-sm {
		display: none;
	}
}
@media #{$not-sm} {
	.u-only-sm {
		display: none;
	}
}
@media #{$only-md} {
	.u-not-md {
		display: none;
	}
}
@media #{$not-md} {
	.u-only-md {
		display: none;
	}
}
@media #{$only-lg} {
	.u-not-lg {
		display: none;
	}
}
@media #{$not-lg} {
	.u-only-lg {
		display: none;
	}
}
@media #{$only-xl} {
	.u-not-xl {
		display: none;
	}
}
@media #{$not-xl} {
	.u-only-xl {
		display: none;
	}
}

/* color classes */
.c-grey {
	color: $c-grey;	
}


