/* SCSS Variables */

/* breakpoints */
$bp-sm: 320px;
$bp-md: 768px;
$bp-lg: 920px;
$bp-xl: 1260px;

/* Media Query Shortcuts */
$only-sm			: "only screen and (max-width: #{$bp-md - 1})" !default;
$not-sm				: "only screen and (min-width: #{$bp-md})" !default;
$only-md			: "only screen and (min-width: #{$bp-md}) and (max-width: #{$bp-lg - 1})" !default;
$not-md				: "only screen and (min-width: #{$bp-lg})" !default;
$only-lg			: "only screen and (min-width: #{$bp-lg}) and (max-width: #{$bp-xl - 1})" !default;
$not-lg				: "only screen and (min-width: #{$bp-xl})" !default;
$only-xl			: "only screen and (min-width: #{$bp-xl})" !default;
$not-xl				: "only screen and (max-width: #{$bp-xl - 1})" !default;

/* colors */
$c-primary:			#376c7c;
$c-secondary:		#3c377c;
$c-accent:			#e85f00;

$c-nearwhite:		mix(white, $c-primary, 80%);
$c-lightest:		mix(white, $c-primary, 60%);

$c-nearblack:		mix(black, $c-primary, 80%);
$c-darkest:			mix(black, $c-primary, 60%);

$c-basetext:		#484e4e;
$c-grey:				mix(white, $c-basetext, 50%);

$c-link:				#4978a3;
$c-link2:				mix(white, $c-link, 20%);
$c-link-light:	#8ab6d9;
$c-link-light2:	mix(white, $c-link-light, 20%);

/* Edge Radiuses (Radii?) */
$radius: 0px;

/* Minimum size for touch usability */
$min-interact:	32px;
