@charset "UTF-8";
/*
==========================================================================
SCSS MANIFEST
==========================================================================
Concatenates the files in the following order.
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  background-repeat: no-repeat; }

body {
  line-height: 1;
  color: black;
  background: white; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

/* SCSS Variables */
/* breakpoints */
/* colors */
/* DEFINE ME */
/* DEFINE ME */
/* DEFINE ME */
/* DEFINE ME */
/* DEFINE ME */
/* DEFINE ME */
/* spacing */
/* Edge Radiuses (Radii?) */
/* Media Query Shortcuts */
/*	$landscape	: "only screen and (orientation: landscape)" !default;	*/
/*	$portrait		: "only screen and (orientation: portrait)" !default;	*/
/* Font Settings */
/* defaults */
body {
  font-family: 'Arimo', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333; }

/* emphasis */
strong,
em {
  color: #000; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

del {
  color: #999999; }

/* links */
a {
  color: #f00;
  text-decoration: none; }

a:active,
a:visited {
  color: #0f0; }

a:hover {
  text-decoration: underline; }

/* copy */
h1 {
  font-size: 2.1rem;
  line-height: 1;
  font-weight: normal; }
  .copy-area h1 {
    margin-bottom: 16px; }

h2 {
  font-size: 1.7rem;
  line-height: 1;
  font-weight: normal; }
  .copy-area h2 {
    margin-bottom: 8px; }

h3 {
  font-size: 1.1rem;
  line-height: 1.4;
  font-weight: bold; }
  .copy-area h3 {
    margin-bottom: 8px; }

h4 {
  font-size: 1rem;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase; }
  .copy-area h4 {
    margin-bottom: 8px; }

p, li {
  font-size: 1rem; }

p {
  line-height: 1.8; }
  .copy-area p {
    margin-bottom: 16px; }

li {
  line-height: 1.2;
  margin-bottom: 8px; }
  li:last-child {
    margin-bottom: 0; }

.copy-area ul,
.copy-area ol {
  margin-bottom: 16px; }
  .copy-area ul ul, .copy-area ul ol,
  .copy-area ol ul,
  .copy-area ol ol {
    padding-left: 8px;
    margin: 16px 0 8px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #e0d6e0; }
    .copy-area ul ul ul, .copy-area ul ul ol, .copy-area ul ol ul, .copy-area ul ol ol,
    .copy-area ol ul ul,
    .copy-area ol ul ol,
    .copy-area ol ol ul,
    .copy-area ol ol ol {
      border-color: #e0d6e0; }
      .copy-area ul ul ul ul, .copy-area ul ul ul ol, .copy-area ul ul ol ul, .copy-area ul ul ol ol, .copy-area ul ol ul ul, .copy-area ul ol ul ol, .copy-area ul ol ol ul, .copy-area ul ol ol ol,
      .copy-area ol ul ul ul,
      .copy-area ol ul ul ol,
      .copy-area ol ul ol ul,
      .copy-area ol ul ol ol,
      .copy-area ol ol ul ul,
      .copy-area ol ol ul ol,
      .copy-area ol ol ol ul,
      .copy-area ol ol ol ol {
        border-color: #e0d6e0; }

.copy-area ul {
  list-style-type: disc; }
  .copy-area ul ul {
    list-style-type: square; }
    .copy-area ul ul ul {
      list-style-type: circle; }

.copy-area ol {
  list-style-type: decimal-leading-zero; }
  .copy-area ol ol {
    list-style-type: upper-alpha; }
    .copy-area ol ol ol {
      list-style-type: lower-roman; }
      .copy-area ol ol ol ol {
        list-style-type: lower-alpha; }

.copy-area table {
  font-size: .9rem;
  line-height: 1.2rem; }
  .copy-area table p, .copy-area table li {
    font-size: .9rem; }
  .copy-area table th {
    font-weight: bold;
    text-transform: uppercase; }

/* text modifiers */
.f-small {
  font-size: .9rem; }

.f-smaller {
  font-size: .75rem; }

.f-smallest {
  font-size: .6rem; }

.f-large {
  font-size: 1.1rem; }

.f-larger {
  font-size: 1.25rem; }

.f-largest {
  font-size: 1.4rem; }

/* icomoon CSS */
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?byte2f");
  src: url("fonts/icomoon.eot?byte2f#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?byte2f") format("truetype"), url("fonts/icomoon.woff?byte2f") format("woff"), url("fonts/icomoon.svg?byte2f#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-home3:before {
  content: "\e900"; }

.icon-profile:before {
  content: "\e901"; }

.icon-bubbles:before {
  content: "\e902"; }

.icon-search:before, .search-container:before {
  content: "\e916"; }

.icon-heart:before {
  content: "\e903"; }

.icon-plus:before {
  content: "\e904"; }

.icon-minus:before {
  content: "\e905"; }

.icon-cross:before {
  content: "\e906"; }

.icon-checkmark:before, a:visited:before {
  content: "\e907"; }

.icon-arrow-up2:before {
  content: "\e908"; }

.icon-arrow-right2:before {
  content: "\e909"; }

.icon-arrow-down2:before {
  content: "\e90a"; }

.icon-arrow-left2:before {
  content: "\e90b"; }

.icon-mail2:before {
  content: "\e90c"; }

.icon-google-plus:before {
  content: "\e90d"; }

.icon-facebook2:before {
  content: "\e90e"; }

.icon-twitter:before {
  content: "\e90f"; }

.icon-steam:before {
  content: "\e910"; }

.icon-github:before {
  content: "\e911"; }

.icon-wordpress:before {
  content: "\e912"; }

.icon-skype:before {
  content: "\e913"; }

.icon-reddit:before {
  content: "\e914"; }

.icon-linkedin2:before {
  content: "\e915"; }

/* UTILITY CLASSES */
.u-container {
  float: left;
  clear: both;
  width: 100%; }
  .u-container .u-inner {
    width: 90%;
    margin: 0px auto; }
    .u-container .u-inner:after {
      clear: both;
      content: '';
      visibility: hidden;
      display: block;
      height: 0px; }

.u-clear {
  clear: both; }

.u-clearfix:after {
  clear: both;
  content: '';
  visibility: hidden;
  display: block;
  height: 0px; }

.u-bold {
  font-weight: bold; }

.u-allcaps,
.u-uppercase {
  text-transform: uppercase; }

.u-capitalize {
  text-transform: capitalize; }

.u-lowercase {
  text-transform: lowercase; }

.u-hidden {
  display: none; }

.u-nobreak {
  white-space: nowrap; }

/* accessibility text */
.u-visually-hidden {
  font-size: 0px;
  line-height: 0px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  visibility: hidden; }

/* Style for clickable non-<a> elements */
.u-clickable {
  cursor: pointer; }

/* Responsive Shortcut Classes */
@media only screen and (max-width: 767px) {
  .u-not-sm {
    display: none; } }

@media only screen and (min-width: 768px) {
  .u-only-sm {
    display: none; } }

@media only screen and (min-width: 768px) and (max-width: 919px) {
  .u-not-md {
    display: none; } }

@media only screen and (min-width: 920px) {
  .u-only-md {
    display: none; } }

@media only screen and (min-width: 920px) and (max-width: 1259px) {
  .u-not-lg {
    display: none; } }

@media only screen and (min-width: 1260px) {
  .u-only-lg {
    display: none; } }

@media only screen and (min-width: 1260px) {
  .u-not-xl {
    display: none; } }

@media only screen and (max-width: 1259px) {
  .u-only-xl {
    display: none; } }

/* non-text elements */
img {
  max-width: 100%;
  height: auto; }

.copy-area iframe,
.copy-area embed,
.copy-area .youtube-player {
  display: block;
  max-width: 100%;
  margin: 0 auto; }

hr {
  margin: 32px auto;
  width: 60%;
  border: none;
  border-top: 1px solid #636; }

table {
  border-collapse: collapse;
  max-width: 100%;
  margin-bottom: 48px; }
  table th, table td {
    padding: .5rem;
    border: 1px solid #999999; }

blockquote {
  margin: 32px 0;
  padding: 8px 16px 19.2px 8px;
  quotes: "“" "”" "‘" "’";
  background-color: #e0d6e0;
  border-left: 8px solid #c2adc2; }
  blockquote:before {
    color: #c2adc2;
    content: open-quote;
    font-size: 5rem;
    line-height: 0.1rem;
    vertical-align: -3rem; }
  blockquote p {
    display: block;
    margin-top: -24px;
    margin-left: 32px; }
    blockquote p:nth-last-child(2):after {
      content: close-quote; }
    blockquote p:last-child {
      margin-bottom: 0; }
    blockquote p.cite,
    blockquote p del {
      /* fallback in case the replacement script doesn't fire */
      font-size: .9rem;
      line-height: 1;
      text-align: right;
      margin-bottom: 0; }
    blockquote p del {
      /* fallback in case the replacement script doesn't fire */
      color: inherit;
      text-decoration: none; }

input,
select,
textarea {
  max-width: 100%; }

/* BEGIN toggle switch CSS for Wireframe Mode toggle */
/*
* CSS TOGGLE SWITCH
*
* Ionuț Colceriu - ghinda.net
* https://github.com/ghinda/css-toggle-switch
*
*/
/* supported values are px, rem-calc, em-calc
 */
/* imports
 */
/* Functions
 */
/* Shared
 */
/* Hide by default
 */
.switch-toggle a, .switch-light span span {
  display: none; }

/* We can't test for a specific feature,
 * so we only target browsers with support for media queries.
 */
@media only screen {
  /* Checkbox
 */
  .switch-light {
    position: relative;
    display: block;
    overflow: hidden;
    /* Outline the toggles when the inputs are focused
  */ }
  .switch-light *, .switch-light *:before, .switch-light *:after {
    box-sizing: border-box; }
  .switch-light a {
    display: block;
    transition: all 0.2s ease-out; }
  .switch-light label, .switch-light > span {
    /* breathing room for bootstrap/foundation classes
     */
    line-height: 2em;
    vertical-align: middle; }
  .switch-light input:focus ~ span a, .switch-light input:focus + label {
    outline: 1px dotted #888; }
  /* don't hide the input from screen-readers and keyboard access
 */
  .switch-light input {
    position: absolute;
    opacity: 0;
    z-index: 3; }
  .switch-light input:checked ~ span a {
    right: 0%; }
  /* inherit from label
 */
  .switch-light strong {
    font-weight: inherit; }
  .switch-light > span {
    position: relative;
    overflow: hidden;
    display: block;
    min-height: 2em;
    /* overwrite 3rd party classes padding
   * eg. bootstrap .well
   */
    padding: 0;
    text-align: left; }
  .switch-light span span {
    position: relative;
    z-index: 2;
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .switch-light a {
    position: absolute;
    right: 50%;
    top: 0;
    z-index: 1;
    display: block;
    width: 50%;
    height: 100%;
    padding: 0; }
  /* Radio Switch
 */
  .switch-toggle {
    position: relative;
    display: block;
    overflow: hidden;
    /* Outline the toggles when the inputs are focused
  */
    /* For callout panels in foundation
  */
    padding: 0 !important;
    /* 2 items
   */
    /* 3 items
   */
    /* 4 items
   */
    /* 5 items
   */
    /* 6 items
   */ }
  .switch-toggle *, .switch-toggle *:before, .switch-toggle *:after {
    box-sizing: border-box; }
  .switch-toggle a {
    display: block;
    transition: all 0.2s ease-out; }
  .switch-toggle label, .switch-toggle > span {
    /* breathing room for bootstrap/foundation classes
     */
    line-height: 2em;
    vertical-align: middle; }
  .switch-toggle input:focus ~ span a, .switch-toggle input:focus + label {
    outline: 1px dotted #888; }
  .switch-toggle input {
    position: absolute;
    opacity: 0; }
  .switch-toggle input + label {
    position: relative;
    z-index: 2;
    display: block;
    float: left;
    padding: 0 0.5rem;
    margin: 0;
    text-align: center; }
  .switch-toggle a {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 1;
    width: 10px;
    height: 100%; }
  .switch-toggle label:nth-child(2):nth-last-child(4), .switch-toggle label:nth-child(2):nth-last-child(4) ~ label, .switch-toggle label:nth-child(2):nth-last-child(4) ~ a {
    width: 50%; }
  .switch-toggle label:nth-child(2):nth-last-child(4) ~ input:checked:nth-child(3) + label ~ a {
    left: 50%; }
  .switch-toggle label:nth-child(2):nth-last-child(6), .switch-toggle label:nth-child(2):nth-last-child(6) ~ label, .switch-toggle label:nth-child(2):nth-last-child(6) ~ a {
    width: 33.33%; }
  .switch-toggle label:nth-child(2):nth-last-child(6) ~ input:checked:nth-child(3) + label ~ a {
    left: 33.33%; }
  .switch-toggle label:nth-child(2):nth-last-child(6) ~ input:checked:nth-child(5) + label ~ a {
    left: 66.66%; }
  .switch-toggle label:nth-child(2):nth-last-child(8), .switch-toggle label:nth-child(2):nth-last-child(8) ~ label, .switch-toggle label:nth-child(2):nth-last-child(8) ~ a {
    width: 25%; }
  .switch-toggle label:nth-child(2):nth-last-child(8) ~ input:checked:nth-child(3) + label ~ a {
    left: 25%; }
  .switch-toggle label:nth-child(2):nth-last-child(8) ~ input:checked:nth-child(5) + label ~ a {
    left: 50%; }
  .switch-toggle label:nth-child(2):nth-last-child(8) ~ input:checked:nth-child(7) + label ~ a {
    left: 75%; }
  .switch-toggle label:nth-child(2):nth-last-child(10), .switch-toggle label:nth-child(2):nth-last-child(10) ~ label, .switch-toggle label:nth-child(2):nth-last-child(10) ~ a {
    width: 20%; }
  .switch-toggle label:nth-child(2):nth-last-child(10) ~ input:checked:nth-child(3) + label ~ a {
    left: 20%; }
  .switch-toggle label:nth-child(2):nth-last-child(10) ~ input:checked:nth-child(5) + label ~ a {
    left: 40%; }
  .switch-toggle label:nth-child(2):nth-last-child(10) ~ input:checked:nth-child(7) + label ~ a {
    left: 60%; }
  .switch-toggle label:nth-child(2):nth-last-child(10) ~ input:checked:nth-child(9) + label ~ a {
    left: 80%; }
  .switch-toggle label:nth-child(2):nth-last-child(12), .switch-toggle label:nth-child(2):nth-last-child(12) ~ label, .switch-toggle label:nth-child(2):nth-last-child(12) ~ a {
    width: 16.6%; }
  .switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(3) + label ~ a {
    left: 16.6%; }
  .switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(5) + label ~ a {
    left: 33.2%; }
  .switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(7) + label ~ a {
    left: 49.8%; }
  .switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(9) + label ~ a {
    left: 66.4%; }
  .switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(11) + label ~ a {
    left: 83%; }
  /* Candy Theme
 * Based on the "Sort Switches / Toggles (PSD)" by Ormal Clarck
 * http://www.premiumpixels.com/freebies/sort-switches-toggles-psd/
 */
  .switch-toggle.switch-candy, .switch-light.switch-candy > span {
    background-color: #2d3035;
    border-radius: 3px;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.2); }
  .switch-light.switch-candy span span, .switch-light.switch-candy input:checked ~ span span:first-child, .switch-toggle.switch-candy label {
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px #191b1e; }
  .switch-light.switch-candy input ~ span span:first-child, .switch-light.switch-candy input:checked ~ span span:nth-child(2), .switch-candy input:checked + label {
    color: #333;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
  .switch-candy a {
    border: 1px solid #333;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);
    background-color: #70c66b;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), transparent); }
  .switch-candy-blue a {
    background-color: #38a3d4; }
  .switch-candy-yellow a {
    background-color: #f5e560; }
  /* iOS Theme
  .switch-ios.switch-light span span {
    color: #888b92; }
  .switch-ios.switch-light a {
    left: 0;
    top: 0;
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    border-radius: 100%;
    border: 0.25rem solid #D8D9DB;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out; }
  .switch-ios.switch-light > span {
    display: block;
    width: 100%;
    height: 2rem;
    background-color: #D8D9DB;
    border-radius: 1.75rem;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    transition: all .4s ease-out; }
  .switch-ios.switch-light > span span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    line-height: 1.875rem;
    vertical-align: middle;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out; }
    .switch-ios.switch-light > span span:first-of-type {
      opacity: 1;
      padding-left: 1.875rem; }
    .switch-ios.switch-light > span span:last-of-type {
      padding-right: 1.875rem; }
  .switch-ios.switch-light input:checked ~ span a {
    left: 100%;
    border-color: #4BD865;
    margin-left: -2rem; }
  .switch-ios.switch-light input:checked ~ span {
    border-color: #4BD865;
    box-shadow: inset 0 0 0 30px #4BD865; }
  .switch-ios.switch-light input:checked ~ span span:first-of-type {
    opacity: 0; }
  .switch-ios.switch-light input:checked ~ span span:last-of-type {
    opacity: 1;
    color: #fff; }
  .switch-ios.switch-toggle {
    background-color: #D8D9DB;
    border-radius: 30px;
    box-shadow: inset rgba(0, 0, 0, 0.1) 0 1px 0; }
    .switch-ios.switch-toggle a {
      background-color: #4BD865;
      border: 0.125rem solid #D8D9DB;
      border-radius: 1.75rem;
      -webkit-transition: all 0.12s ease-out;
      -moz-transition: all 0.12s ease-out;
      transition: all 0.12s ease-out; }
    .switch-ios.switch-toggle label {
      height: 2.4em;
      color: #888b92;
      line-height: 2.4em;
      vertical-align: middle; }
  .switch-ios input:checked + label {
    color: #3e4043; }
END iOS theme */
  /* Holo Theme
  .switch-toggle.switch-holo, .switch-light.switch-holo > span {
    background-color: #464747;
    border-radius: 1px;
    box-shadow: inset rgba(0, 0, 0, 0.1) 0 1px 0;
    color: #fff;
    text-transform: uppercase; }
  .switch-holo label {
    color: #fff; }
  .switch-holo > span span {
    opacity: 0;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s; }
    .switch-holo > span span:first-of-type {
      opacity: 1; }
  .switch-holo > span span, .switch-holo label {
    font-size: 85%;
    line-height: 2.15625rem; }
  .switch-holo a {
    background-color: #666;
    border-radius: 1px;
    box-shadow: inset rgba(255, 255, 255, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.3) 0 -1px 0; }
END Holo theme */
  /* Selected ON switch-light
*/
  .switch-holo.switch-light input:checked ~ span a {
    background-color: #0E88B1; }
  .switch-holo.switch-light input:checked ~ span span:first-of-type {
    opacity: 0; }
  .switch-holo.switch-light input:checked ~ span span:last-of-type {
    opacity: 1; }
  /* Material Theme
 */
  /* switch-light
 */
  .switch-light.switch-material a {
    top: -0.1875rem;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    background: #fafafa;
    box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.14), 0 0.1875rem 0.125rem -0.125rem rgba(0, 0, 0, 0.2), 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.12);
    transition: right 0.28s cubic-bezier(0.4, 0, 0.2, 1); }
  .switch-material.switch-light {
    overflow: visible; }
  .switch-material.switch-light::after {
    clear: both;
    content: "";
    display: table; }
  .switch-material.switch-light > span {
    overflow: visible;
    position: relative;
    top: 0.1875rem;
    width: 3.25rem;
    height: 1.5rem;
    min-height: auto;
    border-radius: 1rem;
    background: rgba(0, 0, 0, 0.26); }
  .switch-material.switch-light span span {
    position: absolute;
    clip: rect(0 0 0 0); }
  .switch-material.switch-light input:checked ~ span a {
    right: 0;
    background: #3f51b5;
    box-shadow: 0 0.1875rem 0.25rem 0 rgba(0, 0, 0, 0.14), 0 0.1875rem 0.1875rem -0.125rem rgba(0, 0, 0, 0.2), 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.12); }
  .switch-material.switch-light input:checked ~ span {
    background: rgba(63, 81, 181, 0.5); }
  /* switch-toggle
 */
  .switch-toggle.switch-material {
    overflow: visible; }
  .switch-toggle.switch-material::after {
    clear: both;
    content: "";
    display: table; }
  .switch-toggle.switch-material a {
    top: 48%;
    width: 0.375rem !important;
    height: 0.375rem;
    margin-left: 0.25rem;
    background: #3f51b5;
    border-radius: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: -webkit-transform 0.4s ease-in;
    transition: transform 0.4s ease-in; }
  .switch-toggle.switch-material label {
    color: rgba(0, 0, 0, 0.54);
    font-size: 1em; }
  .switch-toggle.switch-material label:before {
    content: '';
    position: absolute;
    top: 48%;
    left: 0;
    display: block;
    width: 0.875rem;
    height: 0.875rem;
    border-radius: 100%;
    border: 0.125rem solid rgba(0, 0, 0, 0.54);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .switch-toggle.switch-material input:checked + label:before {
    border-color: #3f51b5; }
  /* ripple
 */
  .switch-light.switch-material > span:before, .switch-light.switch-material > span:after, .switch-toggle.switch-material label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background: #3f51b5;
    opacity: 0 !important;
    margin-left: -1.25rem;
    margin-top: -1.25rem;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: opacity .4s ease-in; }
  .switch-light.switch-material > span:after {
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: -1.25rem; }
  .switch-toggle.switch-material label:after {
    width: 3.25rem;
    height: 3.25rem;
    margin-top: -0.75rem; }
  @-webkit-keyframes materialRipple {
    0% {
      -webkit-transform: scale(0); }
    20% {
      -webkit-transform: scale(1); }
    100% {
      opacity: 0;
      -webkit-transform: scale(1); } }
  @keyframes materialRipple {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0); }
    20% {
      -webkit-transform: scale(1);
      transform: scale(1); }
    100% {
      opacity: 0;
      -webkit-transform: scale(1);
      transform: scale(1); } }
  .switch-material.switch-light input:not(:checked) ~ span:after, .switch-material.switch-light input:checked ~ span:before, .switch-toggle.switch-material input:checked + label:after {
    -webkit-animation: materialRipple .4s ease-in;
    animation: materialRipple .4s ease-in; }
  /* trick to prevent the default checked ripple animation from showing
 * when the page loads.
 * the ripples are hidden by default, and shown only when the input is focused.
 */
  .switch-light.switch-material.switch-light input:focus:checked ~ span:before, .switch-light.switch-material.switch-light input:focus:not(:checked) ~ span:after, .switch-material.switch-toggle input:focus:checked + label:after {
    opacity: .4 !important; } }

/* Bugfix for older Webkit, including mobile Webkit. Adapted from
 * http://css-tricks.com/webkit-sibling-bug/
 */
@media only screen and (-webkit-max-device-pixel-ratio: 2) and (max-device-width: 80rem) {
  .switch-light, .switch-toggle {
    -webkit-animation: webkitSiblingBugfix infinite 1s; } }

@-webkit-keyframes webkitSiblingBugfix {
  from {
    -webkit-transform: translate3d(0, 0, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0); } }
/* Theme */
html,
body,
.fullHeight {
  height: 100%;
  margin: 0; }

.total-wrapper {
  width: 100%;
  max-width: 100%; }

/* scanline effect */
/* inspired by http://codepen.io/0x04/pen/qlayi */
.total-wrapper,
.total-wrapper:before {
  background: url("images/calm-cloudy-beach.jpg") no-repeat center; }

.total-wrapper:before {
  background: -webkit-repeating-linear-gradient(top, transparent 0px, transparent 2px, rgba(0, 0, 0, 0.25) 2px, rgba(0, 0, 0, 0.25) 4px);
  -webkit-background-size: 100% 4px;
  background: -moz-repeating-linear-gradient(top, transparent 0px, transparent 2px, rgba(0, 0, 0, 0.25) 2px, rgba(0, 0, 0, 0.25) 4px);
  -moz-background-size: 100% 4px; }

/* Outdated Browser Disruptor */
.disruptor {
  background-color: #e0d6e0;
  border-bottom: 2px solid #636;
  padding: 8px 0; }

/* left/right shadows */
/* https://css-tricks.com/almanac/properties/b/box-shadow/ */
.u-container > .u-inner.shadowed {
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }
  .u-container > .u-inner.shadowed:before, .u-container > .u-inner.shadowed:after {
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 10px;
    bottom: 10px;
    left: 0;
    right: 0;
    border-radius: 100px / 10px; }
  .u-container > .u-inner.shadowed:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg); }

.header-logo {
  float: left;
  clear: left;
  max-width: 40%;
  margin-top: 1.5rem; }
  .header-logo svg {
    display: none; }
  html.inlinesvg .header-logo img {
    display: none; }
  html.inlinesvg .header-logo svg {
    display: block;
    width: auto;
    height: 60px; }
    html.inlinesvg .header-logo svg path {
      fill: #f00; }
  html.inlinesvg .header-logo:hover svg path {
    fill: #0f0; }

/* .header-logo */
.subsection-logo {
  float: left;
  clear: none;
  font-family: 'Oxygen', 'Arimo', sans-serif;
  font-size: 2.7rem;
  line-height: 1;
  color: #999999;
  font-weight: normal;
  margin-top: 10px;
  margin-left: 16px;
  /* About page */ }
  .category-personal .subsection-logo:before {
    content: ""; }
  .category-games .subsection-logo:before {
    content: ": gaming"; }
  .category-pro .subsection-logo:before {
    content: ": pro"; }
  .page-id-640 .subsection-logo:before {
    content: ": about"; }

.search-container {
  float: right;
  clear: right;
  width: 40px;
  height: 40px;
  color: #999999;
  cursor: pointer; }
  .search-container:hover {
    color: #0f0; }
  .search-container label {
    float: left;
    clear: left; }
  .search-container label span {
    display: none; }
  .search-container input {
    box-sizing: border-box;
    width: 0px;
    padding: 0px;
    height: 40px;
    border: 0px;
    background-color: #fff;
    /* pure white */
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px; }
    .search-container input.search-submit {
      float: left;
      clear: right;
      text-indent: -9999px;
      background-color: transparent;
      color: transparent;
      cursor: pointer; }
      .search-container input.search-submit:hover {
        background-color: rgba(242, 249, 255, 0.2); }
  .search-container.open input.search-field {
    width: 120px;
    padding: 0px .5rem; }
  .search-container.open input.search-submit {
    text-indent: 0px;
    width: 40px;
    background-color: transparent;
    cursor: pointer; }
    .search-container.open input.search-submit:hover {
      background-color: rgba(242, 249, 255, 0.2); }

/* .search-container */
.time-nav {
  float: left;
  clear: both; }
  .time-nav .older,
  .time-nav .newer {
    padding: 1rem; }
    .time-nav .older span,
    .time-nav .newer span {
      display: block;
      font-size: 1.1rem;
      line-height: normal; }

/* .time-nav */
.single {
  /* .entry-content */ }
  .single .attachment-post-thumbnail {
    margin: 1rem auto; }

/* .single */
.aligncenter img,
.alignright img,
.alignleft img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.aligncenter.wp-caption,
.alignright.wp-caption,
.alignleft.wp-caption {
  padding: 8px;
  border: 1px solid #999999;
  margin-bottom: 32px; }
  .aligncenter.wp-caption p,
  .aligncenter.wp-caption figcaption,
  .alignright.wp-caption p,
  .alignright.wp-caption figcaption,
  .alignleft.wp-caption p,
  .alignleft.wp-caption figcaption {
    font-size: .8rem;
    text-align: center;
    margin: 8px 0 0 0; }

/* WordPress Plug-Ins */
/* Simple Lightbox */
#slb_viewer_wrap .slb_theme_slb_default .slb_details,
#slb_viewer_wrap .slb_theme_slb_baseline .slb_details {
  padding-top: 1rem; }

#slb_viewer_wrap .slb_theme_slb_default .slb_group_status,
#slb_viewer_wrap .slb_theme_slb_baseline .slb_group_status {
  display: block;
  font-size: 1rem;
  line-height: 1;
  color: #999999;
  font-style: normal;
  text-align: center;
  margin: .5rem 0px 0px 0px; }

#slb_viewer_wrap .slb_theme_slb_default .slb_slideshow,
#slb_viewer_wrap .slb_theme_slb_baseline .slb_slideshow {
  display: none; }

#slb_viewer_wrap .slb_theme_slb_default .slb_data_title,
#slb_viewer_wrap .slb_theme_slb_baseline .slb_data_title {
  display: none; }

#slb_viewer_wrap .slb_theme_slb_default .slb_data_desc,
#slb_viewer_wrap .slb_theme_slb_baseline .slb_data_desc {
  display: none; }

/* About Page */
.page-id-640 p, .page-id-640 li {
  max-width: 600px; }
  .page-id-640 p.copyright, .page-id-640 li.copyright {
    max-width: none; }

.page-id-640 #years {
  margin: 0px;
  padding-bottom: 0px; }
  .page-id-640 #years h4 {
    margin: 2.5rem auto; }
    .page-id-640 #years h4 a {
      display: block;
      background-position: 50% 100%;
      background-size: auto 20px;
      padding-bottom: 30px; }
      .page-id-640 #years h4 a:last-child {
        margin-bottom: 0px; }
    .page-id-640 #years h4 span {
      display: block;
      font-size: 1rem;
      line-height: normal;
      text-align: center; }
      .page-id-640 #years h4 span.big {
        font-size: 6rem;
        line-height: 5rem; }
      .page-id-640 #years h4 span.small {
        font-size: .7rem;
        line-height: 1.1rem; }

.page-id-640 .contact-me h1, .page-id-640 .contact-me h2, .page-id-640 .contact-me p {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.page-id-640 .contact-me p {
  font-size: 1.1rem;
  line-height: 1.6rem; }

.page-id-640 .contact-me ul {
  list-style-type: none;
  padding-left: 0px;
  width: 240px;
  margin: 2rem auto; }
  .page-id-640 .contact-me ul li {
    line-height: 30px;
    background-repeat: no-repeat;
    padding-left: 40px;
    min-height: 30px; }
    .page-id-640 .contact-me ul li.email {
      background-image: url("images/icon-contact.png"); }
      .page-id-640 .contact-me ul li.email:hover {
        background-image: url("images/icon-contact-hover.png"); }
    .page-id-640 .contact-me ul li.linkedin {
      background-image: url("images/icon-linkedin.png"); }
      .page-id-640 .contact-me ul li.linkedin:hover {
        background-image: url("images/icon-linkedin-hover.png"); }
    .page-id-640 .contact-me ul li.skype {
      background-image: url("images/icon-skype.png"); }
      .page-id-640 .contact-me ul li.skype:hover {
        background-image: url("images/icon-skype-hover.png"); }
    .page-id-640 .contact-me ul li a {
      padding: 0px;
      border: none; }

.meters-container {
  margin-top: 3rem; }
  .meters-container .meter {
    box-sizing: border-box;
    background-color: #999999;
    height: 2rem;
    padding: .2rem .5rem; }
    .meters-container .meter h3 {
      white-space: nowrap;
      margin: 0px; }
  .meters-container .skill {
    color: #fff;
    background-color: #242424;
    background: repeating-linear-gradient(45deg, #242424, #292929 10px, #242424 10px, #292929 20px);
    margin-bottom: .5rem; }
    .meters-container .skill.level100 {
      /*    &:after {content: "100%";}  */ }
      .meters-container .skill.level100 .meter {
        width: 100%; }
    .meters-container .skill.level95 {
      /*    &:after {content: "95%";}  */ }
      .meters-container .skill.level95 .meter {
        width: 95%; }
    .meters-container .skill.level90 {
      /*    &:after {content: "90%";}  */ }
      .meters-container .skill.level90 .meter {
        width: 90%; }
    .meters-container .skill.level85 {
      /*    &:after {content: "85%";}  */ }
      .meters-container .skill.level85 .meter {
        width: 85%; }
    .meters-container .skill.level80 {
      /*    &:after {content: "80%";}  */ }
      .meters-container .skill.level80 .meter {
        width: 80%; }
    .meters-container .skill.level75 {
      /*    &:after {content: "75%";}  */ }
      .meters-container .skill.level75 .meter {
        width: 75%; }
    .meters-container .skill.level70 {
      /*    &:after {content: "70%";}  */ }
      .meters-container .skill.level70 .meter {
        width: 70%; }
    .meters-container .skill.level65 {
      /*    &:after {content: "65%";}  */ }
      .meters-container .skill.level65 .meter {
        width: 65%; }
    .meters-container .skill.level60 {
      /*    &:after {content: "60%";}  */ }
      .meters-container .skill.level60 .meter {
        width: 60%; }
    .meters-container .skill.level55 {
      /*    &:after {content: "55%";}  */ }
      .meters-container .skill.level55 .meter {
        width: 55%; }
    .meters-container .skill.level50 {
      /*    &:after {content: "50%";}  */ }
      .meters-container .skill.level50 .meter {
        width: 50%; }
    .meters-container .skill.level45 {
      /*    &:after {content: "45%";}  */ }
      .meters-container .skill.level45 .meter {
        width: 45%; }
    .meters-container .skill.level40 {
      /*    &:after {content: "40%";}  */ }
      .meters-container .skill.level40 .meter {
        width: 40%; }
    .meters-container .skill.level35 {
      /*    &:after {content: "35%";}  */ }
      .meters-container .skill.level35 .meter {
        width: 35%; }
    .meters-container .skill.level30 {
      /*    &:after {content: "30%";}  */ }
      .meters-container .skill.level30 .meter {
        width: 30%; }
    .meters-container .skill.level25 {
      /*    &:after {content: "25%";}  */ }
      .meters-container .skill.level25 .meter {
        width: 25%; }
    .meters-container .skill.level20 {
      /*    &:after {content: "20%";}  */ }
      .meters-container .skill.level20 .meter {
        width: 20%; }
    .meters-container .skill.level15 {
      /*    &:after {content: "15%";}  */ }
      .meters-container .skill.level15 .meter {
        width: 15%; }
    .meters-container .skill.level10 {
      /*    &:after {content: "10%";}  */ }
      .meters-container .skill.level10 .meter {
        width: 10%; }
    .meters-container .skill.level5 {
      /*    &:after {content: "5%";}  */ }
      .meters-container .skill.level5 .meter {
        width: 5%; }
    .meters-container .skill.level0 {
      /*    &:after {content: "0%";}  */ }
      .meters-container .skill.level0 .meter {
        width: 0%; }
  .meters-container p {
    text-align: center;
    margin: 1.6rem 0px 0px 0px; }

/* Wireframe Mode */
body.wireframe-mode-on .wire-outline {
  outline: 1px dashed #eee;
  background-image: none;
  background-color: rgba(255, 255, 255, 0.9); }
  body.wireframe-mode-on .wire-outline .wire-outline {
    outline-color: #bbb; }
    body.wireframe-mode-on .wire-outline .wire-outline .wire-outline {
      outline: 1px dashed #999; }
      body.wireframe-mode-on .wire-outline .wire-outline .wire-outline .wire-outline {
        outline-color: #666; }
        body.wireframe-mode-on .wire-outline .wire-outline .wire-outline .wire-outline .wire-outline {
          outline-color: #333; }

body.wireframe-mode-on a {
  color: #900; }

body.wireframe-mode-on button {
  background-color: #900;
  color: #fff; }
