/* -- Formatting Shortcuts -- */
/* line 2, ../scss/shortcuts.scss */
.clear {
  clear: both;
}

/* line 3, ../scss/shortcuts.scss */
.margin0 {
  margin: 0px;
}

/* line 4, ../scss/shortcuts.scss */
.top0 {
  margin-top: 0px;
}

/* line 5, ../scss/shortcuts.scss */
.bot0 {
  margin-bottom: 0px;
}

/* line 6, ../scss/shortcuts.scss */
.bold {
  font-weight: bold;
}

/* line 7, ../scss/shortcuts.scss */
.allcaps {
  text-transform: uppercase;
}

/* line 8, ../scss/shortcuts.scss */
.capitalize {
  text-transform: capitalize;
}

/* line 9, ../scss/shortcuts.scss */
.lowercase {
  text-transform: lowercase;
}

/* line 10, ../scss/shortcuts.scss */
.hidden {
  display: none;
}
